[2015-01-29 14:10] amacbee opened #1 "App作成に利用するFrameworkを決定する"
いま一番有望な候補はBottleかな

[2015-01-29 14:21] amacbee opened #2 "Appの作成環境を決定する"
Windows Serverを利用するか，Online Codingの出来るServiceを検討するか

[2015-01-29 14:42] amacbee commented on #2
IPython Notebook Server たてるの凄く簡単なので，IPython Notebook as a Web Platform的なやつを調べてみたのですが，以下のstackoverflow他で見る限り微妙でした．
http://stackoverflow.com/questions/15691479/ipython-notebook-as-a-web-tool-dev-platform

一応こういうrepoもあります
https://github.com/minrk/singlecell

[2015-01-30 01:23] amacbee commented on #2
Slackで出てた意見 @uni-q
20人以上超えてもうまく動くか検証したい感じ(ΦωΦ)

[2015-01-31 02:52] nobolis commented on #2
Online codingするツールについて、wakariというサービスを教えてもらいました：
https://wakari.io/wakari

アカウント作るだけで利用できるみたいです。

[2015-01-31 03:51] nobolis commented on #2
さっそく記事かいてくれて教えてくれたのでシェア：
http://librabuch.jp/2015/01/wakari-io/

[2015-01-31 22:33] nobolis commented on #1
Wakari.ioについて調べたところ（Tools>Anaconda Environments）、FlaskとTornadoは入っているみたいです。Bottleは残念ながらなかった。

[2015-01-31 22:33] nobolis commented on #1
FYI
2014年 Webアプリケーションフレームワークトレンド（PHP / Java / Ruby / Python / Perl
http://qiita.com/shukotang/items/055058b33b553b48c164

[2015-01-31 23:54] amacbee commented on #2
Wakari.io，データ解析用のイメージ強くてアカウント持ってたのに完全に失念してましたw
ありがとうございます！
アカウント一つで複数のWeb ApplicationたてられるならPyLadies Tokyoのアカウントとして利用してみようかな。。。本日の作業で確認したい感じ．

[2015-02-01 00:00] amacbee commented on #1
Frameworkの中身を説明したいみたいな需要が出てきたときはbottle.py (!?)一つで構成されてるBottleが良い（＝環境構築こちらでするとしたら用意も楽）・・・的な感じでBottleかなと考えてたんですが，「複数台のWindowsマシンで作業させる」ハードル高すぎなので，上記の仲ならFlaskとか良いかもですね〜〜（マシン性能鑑みると動作の遅さがちょっと怖いですが）
Tornadoの方は実はちゃんと開発したことないので良く分かってませんｗ

[2015-02-01 01:28] mahya8585 opened #3 "事前予約（募集）ページの作成"
PCの台数に限りがあるため、事前に参加の募集を立てるようにする。
２月前半までにconnpassにイベント立てる。
- タイピングができる人（高校・大学生向け）

担当者対象：connpassオーナー

ゴール：connpassページを作成し、girls-tech-fes本部にURL送付を行う。

[2015-02-01 01:30] mahya8585 commented on #3
- アンケートで参加者レベルを確認
- PCはこっちで準備している旨を記載

[2015-02-01 01:33] mahya8585 opened #4 "各担当の決定"
【決めておきたいstuff 役割】
- girls-tech-fes / annita borg との事前協議・調整  @amacbee @nobolis
- サポートメンバーの管理 @mahya8585
  - まずはメンバーのスキルチェックアンケート作成
  - 湧いたタスクをスキル（もしくはやってみたいこと）に応じてissueの割り振り
- コンテンツ作成準備
  - webアプリ作成   @amacbee  @sinamon129 @sayadroid
  - 当日作業マニュアルをリバース書き起こし @mahya8585
  - 実作業レビュー @all
- connpass作成や広報 @mahya8585 @mamimumemo
- 当日の運営準備細かいもの
  - 名簿作成  -> connpassから自動で出てくる
  - スタッフ名札 @mamimumemo
  - 参加者

[2015-02-01 01:36] nobolis commented on #3
* あるいはある程度参加者レベルを明記しても

[2015-02-01 01:37] nobolis commented on #3
すみません、間違えてクローズしたらしい

[2015-02-01 01:38] nobolis commented on #3
リオープンできました。ごめんなさい。

[2015-02-01 01:43] mahya8585 opened #5 "当日必要なものリスト"
- 【Done】Winマシン 25台（ユーザ利用20台　メンバー用５台）
  - winで動くコンテンツ環境作成
- 教室１部屋
  - プロジェクターがあるか確認
  - マイクがあるか確認
  - ssh空いてるか確認
  - そもそもネット環境どうなの確認
- 当日予約管理用スプレッドシート

[2015-02-01 01:50] saorio commented on #4
質問です。当日、講師役の方以外に適宜PC周りで困ったことがあった場合の質問受ける人が２〜３人いた方が良いかなと思うのですが、、いかがでしょうか。

[2015-02-01 01:51] mahya8585 commented on #4
@saorio 講師補佐として追加しました

[2015-02-01 01:52] saorio commented on #4
！お役にたてるか不安ですが。。

[2015-02-01 01:52] uni-q commented on #4
ワークショップって、サポートの方、何人かいますよね。
参加者5人につき、1人サポート付いてたら十分。
参加者10人にサポート1人がギリギリな感じかな？（ただのイメージ）

[2015-02-01 01:56] nobolis commented on #4
サポートは必要ですよね。
確認ですが、当日スタッフは基本的に今手を上げているメンバーのみになりそうですか？
それとももう少し増える予定でしょうか？

[2015-02-01 01:57] uni-q commented on #5
- Tシャツ？
- 先生用の名札とか？
- 受付用の名簿？とかパソコン（connpassで受付管理するよう）

[2015-02-01 02:01] nobolis commented on #5
- ポインタ？（必要なら持って行きます）

[2015-02-01 02:07] amacbee commented on #4
PyLadies Tokyo Meetupにこれまで参加されていた方で， #engineering-envet にjoinしている方は，サポートをやりたいとおっしゃっていた方たちです．でも，こちらもはっきりしていないので，これからスタッフ名簿を作成する際に，もう一度全員に聞いてみますmm

[2015-02-01 02:11] mahya8585 opened #6 "アンケート内容の決定"
connpassで登録者宛に投げるアンケートの作成

子チケットで項目選定を行う

[2015-02-01 02:11] nobolis commented on #4
現状14名ですね。

[2015-02-01 02:14] mahya8585 opened #7 "connpassに載せるためのdetail決定"
- 開催時間と回数
  - 11:00〜12:00　１回目　ワークショップ
  - 12:00〜14:00　ランチ＆コミュニケーションタイム＆次回準備
  - 14:00〜15:00　２回目　ワークショップ
  - 15:00〜16:00　コミュニケーションタイム＆片付け
- １回のmax参加者人数
- 今回のワークショップ概要文
- 対象者
  - 高校生・大学生が対象
  - ただしタイピングができれば何歳でも可
- 事前にやってきてもらうべきことがあれば記載
- PCはあります
- 女子限定イベント

[2015-02-01 02:17] saorio commented on #7
大変細くて申し訳ないんですが、対象者って男性入りませんよね？というのも記載あった方が良いかなと思いました。

[2015-02-01 02:18] mahya8585 commented on #7
追記しました！

[2015-02-01 02:31] uni-q commented on #5
まずは担当を決めてから、担当者が中心になって「当日の必要なものリスト」を洗い出した方が良さそうな。
受付や講師など、担当によっての必要なものがあるので。

[2015-02-01 02:38] mahya8585 opened #8 "作業調整・管理issue"
作業日申告用チョー助さん
は、Slackにて情報飛ばしています。
- stuff作業日はconnpassにて登録受け付けています。極力参加をお願いします。
- NOT必須作業日はチョー助さんで管理しています。○が付いていれば、amacabeeちゃんが会議室開けてくれます。むやみやたらに○をつけないように。

[2015-02-01 02:50] mahya8585 opened #9 "イベントstuff 打ち上げ"
翌週のどこかで打ち上げをやる。
- 場所は渋谷近辺
- 調整さんたてる

[2015-02-01 02:57] mahya8585 commented on #4
【メモ】
当日担当割り振りは2月21日に決定する

[2015-02-01 02:58] amacbee commented on #4
これからもう一度PyLadies Tokyoのconnpassグループに入っている方に向けて，スタッフ募集メールを投げてみようかな

[2015-02-01 02:58] mahya8585 opened #10 "2015/02/21 作業日"
## Agenda
- 当日担当の割り振り
- 各担当進捗
- 残タスク
- 問題点・懸念点共有

[2015-02-01 02:59] mahya8585 opened #11 "2015/03/21 作業日"
## agenda
- 各担当進捗
- 残タスク
- 問題点・懸念点共有
- 当日シミュレーション

[2015-02-01 03:00] mahya8585 opened #12 "2015/03/28 作業日"
## Agenda
- 各担当進捗
- 残タスク
- 問題点・懸念点共有
- 当日シミュレーション
- 当日分事前準備
- 決起会

[2015-02-01 03:05] amacbee opened #13 "東大広報やAnita Borgとのメール引き継ぎ"
@nobolis さんに，これまでのやりとりのメールを転送したり，向こうの担当者に窓口の方として紹介する

[2015-02-01 03:07] amacbee commented on #13
issue共有として， @nobolis さんも割り振ります

[2015-02-01 03:09] uni-q opened #14 "Tシャツを作る"
PyLadies TokyoのTシャツ

やることリスト
1. デザイン作る（03/01までにFIX）
2. スタッフに共有・ヒアリング
3. デザイン調節
4. Tシャツ業社の選定
5. Tシャツ業社に発注
6. Tシャツでかかった経費をZaimに記入する

[2015-02-01 03:10] nobolis commented on #13
紹介よろしくお願いします。
- 今後のメールのやりとりは@macbeeにccとかでいいでしょうか？
- どこかにまとめてメール保存とかしますか？

[2015-02-01 03:15] amacbee commented on #9
打ち上げのissue立つの早すぎワロタwww

[2015-02-01 03:19] amacbee commented on #13
tokyo@pyladies.com にCCして頂けたらと思います！

[2015-02-01 03:22] mahya8585 opened #15 "スタッフ管理親タスク"
スタッフへissue振り分けや調整を行うための親タスク

[2015-02-01 03:24] #15 closed, assigned to mahya8585

[2015-02-01 03:24] nobolis commented on #13
了解です。
やりとり自体は自分のメアドでですかね。

[2015-02-01 03:25] mahya8585 opened #16 "メンバースキル確認アンケートを作る"
issueのハイパー効率良い割り振りを行う為に、
まずは個人スキルの把握を行う。

アンケートフォーム作成→スプレッドシート集約

[2015-02-01 03:32] mahya8585 opened #17 "進捗報告用フォーム作成"
各作業日に各担当から報告を行うためのテンプレート作成を行う
- issueの作業日タスクへリンクして当日進める
- 前日までにissue建ててもらう
- デイリースクラム的な項目を立てる

[2015-02-01 04:17] mahya8585 commented on #13
#5
（確認内容リストをリンクしておきます

[2015-02-01 04:18] amacbee commented on #2
wakari.io さん使って見てるんですが，以下の状態から反応がない。。。

一つのアカウントだと512Mしかメモリがないので，これでやるとしたら人数分のアカウントを作成する必要がありそう．ShellやIPython Notebookはいけるけど，Webブラウザで結果を確認する方法が明示されてなくてやり方を模索中．

[2015-02-01 05:46] amacbee opened #18 "IPython Notebook Server上でBottleを動かせるか試す"

[2015-02-01 06:05] mahya8585 commented on #16
作成まで完了。公開しておしまい

[2015-02-01 06:06] mahya8585 commented on #7
@MamiSATO さんが叩き作成ちゅう　

[2015-02-01 06:40] mahya8585 commented on #2
https://files.slack.com/files-pri/T02RSHV5R-F03H2L9RE/slack_for_ios_upload.jpg

設計たたき台写真（みれなかったらごめんね）

[2015-02-01 07:19] mahya8585 commented on #4
Googleに同様の一覧作成済み。
connpassグループメンバーへのメール配信済み。（１回失敗して訂正文投げた。。。

[2015-02-01 07:20] #4 closed, assigned to nobody

[2015-02-01 07:23] mahya8585 commented on #6
- PCの日常使用頻度（主にタイピング面）
- 年齢
- プログラミングしたことある人はその言語とレベル
- 初めての人はプログラミングに対するイメージの自由記述

その他何かあれば追記ください

[2015-02-01 14:11] saorio commented on #7
issueを見ていて、どこに書いたら適切かわからない内容なんですが、pythonの言語を知っている人と知らない人がどれくらい来るかにもよりますが、ワークショップの前にpythonという言語の特徴とか(pyladiesの紹介も含め)あるんでしょうか？

[2015-02-01 14:40] amacbee commented on #7
他言語とくらべてどういう言語だ的な話はしないと思いますが，Pythonを使うと何が出来る（WebAppが作れるとかPythonで出来てるものの紹介とか）はすると思います！
もちろんPyLadies Tokyoの宣伝もするつもりです〜

[2015-02-02 02:01] uni-q opened #19 "当日スタッフの割り振りを決める"
# 目的

当日の担当を決める

https://github.com/PyLadiesTokyo/girls-tech-fes/issues/4#issuecomment-72348762

- 受付
- 講師 / 進行
- 講師補佐
- タイムキーピング / 広報
# 手順
1. まずはアンケートに答える http://goo.gl/forms/enQnUczmMT
2. アンケートでやりたい担当に立候補
3. 割り振りする
4. 決められたスタッフまとめはこちら https://docs.google.com/a/pyladies.com/document/d/19zHhcEtF6KBMH3qi4I05hkHV6M9bVkEbYLolxbzsXDM/edit
# 関連issue
#4

[2015-02-02 02:03] uni-q commented on #19
ドキュメント見ました。
当日、私は受付・その他雑用？…しか出来なさそうなので、それに立候補します。(；・∀・)

[2015-02-02 03:45] amacbee commented on #18
BottleじゃなくてTornadoで作る可能性が濃厚
IPython Notebook Server上でcoding→Pythonコードのみを抽出→Tornado上で動かす
みたいな感じになるかも（出来るか検証中）

[2015-02-02 11:20] amacbee opened #20 "スタッフ作業日のconnpassイベントを作成する"
スタッフ作業日のconnpassイベントを作成する #8
参考：http://pyconjp.connpass.com/event/11104/

日程は以下の通り
- 2/21(土) 14:00〜17:00
- 3/21(土) 14:00〜17:00
- 3/28(土) 13:00〜17:00

[2015-02-02 11:34] amacbee commented on #13
やりとりメール全ての転送done.

[2015-02-02 11:44] amacbee opened #21 "当日スタッフ公募用のconnpassイベントを作成する"
当日スタッフの公募をconnpassで行う形にしたいと思います．
以下の内容を記載する必要があるはず（現時点で思いつく限り）
- 少なくとも前日の作業日には来て欲しい ref. #20
- 午前／午後両方手伝えるのか #8
- （当日のスタッフ分担のアンケートも入れてみる？ ref. #19 ）

[2015-02-02 12:00] mahya8585 commented on #8
内容を変更しました。
チョー助さんの案内についてはSlackにて行います。
流れてしまって観れない人は@mahya8585までご連絡ください

[2015-02-02 12:08] amacbee commented on #13
担当者引き継ぎのメール送信done.
@nobolis さん，後はよろしくお願いします！

[2015-02-02 13:06] nobolis commented on #13
メール転送と引き継ぎメールありがとうございました。メール確認しました。
あとで自己紹介メールしておきます。

[2015-02-02 13:10] amacbee commented on #13
よろしくお願いします〜
その際可能であれば先日話した確認事項について先方にお問い合わせ下さいmm

[2015-02-02 16:02] amacbee opened #22 "Tornadoの公式チャットデモを試す"

[2015-02-02 16:04] amacbee opened #23 "開発環境をAnsibleで自動構築する"
まずはローカル環境のVagrantで動くようにする

[2015-02-02 16:08] amacbee commented on #22
チャットデモが公式で2つ提供されてるっぽい．
Web Socket使う方が面白そうなのでそっちを試してみる．
参考：http://elicon.blog57.fc2.com/blog-entry-381.html

[2015-02-02 22:03] nobolis commented on #13
@amacbee
#5の件ですね。了解ですノ

[2015-02-02 23:41] nobolis commented on #13
[Done] メール内容確認
[Done] ご挨拶メール送信（確認事項は別メールにて送信予定）

[2015-02-02 23:43] nobolis opened #24 "東大広報/Anita Borgへの質問"
- 東大広報/Anita Borgへの質問事項があったらこちらのコメント欄に投げてください。
- 永合氏（東大広報）・川久保氏（Anita Borg）に@nobolisが連絡します。
- #+issue番号でissueにリンクが張れます

[2015-02-02 23:44] nobolis commented on #24
- 質問事項 in #5
  2015/02/03 本日対応予定（延期）
  2015/02/06 質問事項詳細確認中→確認完了
  2015/02/07 質問連絡完了（ネットワーク環境とSSH利用可否について）

[2015-02-02 23:51] nobolis opened #25 "東大広報/Anita Borgからの質問・コメント"
- 東大広報/Anita Borgから質問事項があったらこちらのコメント欄に投げます。
- 特定のissueに関連する場合はissueにリンクを張ります。
- ご指名投稿することになると思いますので、ご指名のあった方は回答をコメント欄に書き加えてください。
- どうぞご協力よろしくお願いいたしますm(_ _)m

[2015-02-02 23:55] nobolis commented on #13
以降、以下のルールで連絡事項を管理します：
東大広報/Anita Borgへ質問したい場合 -->  #24 へ投稿
東大広報/Anita Borgから質問がきた場合 --> #25 へ投稿

[2015-02-03 00:41] amacbee commented on #22
ローカルでTornadoを使いチャット機能を問題なく利用できた（IPython Notebookと同時に動作）

[2015-02-03 00:41] #22 closed, assigned to amacbee

[2015-02-04 01:16] mahya8585 commented on #20
@amacbee とりあえず一番直近の2/21分のたたき台を下書きにいれてみたので、
レビューお願いできますか？
指摘事項マージした上で他２日分＆当日も同様作成します。

[2015-02-04 01:27] nobolis commented on #13
返信がないので、こちらから送ったメールが迷惑メールになっているかも？
職場のメアドから連絡しようか、検討中。
（あと1日待ってみる予定）

[2015-02-04 01:41] amacbee commented on #13
相手からの返信ペースはいつもゆっくりめです．
2〜3日は待ってみた方が良いと思いますε=ε=ε=┌(;*´Д`)ﾉ

[2015-02-04 01:45] nobolis commented on #13
ゆっくりめ or 迷惑メール行きのどちらかなーと思ったのですが、ゆっくりめの方でしたか。
じゃあ今週いっぱい待って、もし連絡が来なかったら月曜日（2/9）に連絡してみます。

[2015-02-04 01:53] amacbee commented on #13
:star:

[2015-02-04 04:02] amacbee commented on #20
[code]

といった一文を最初に入れると良いかなと思います．
その後に，「Girls Tech Fesとは？」「スタッフとして参加して頂ける人を募集しています」といった項目を作るとより分かりやすいかなと思います．
よろしくお願いします！

[2015-02-05 00:02] nobolis commented on #13
返信きた。ゆっくりめでしたね。

[2015-02-05 00:02] #13 closed, assigned to nobolis

[2015-02-05 00:17] nobolis commented on #5
@mahya8585 確認事項の確認です：
- そもそもネット環境どうなの確認
  これは25台のPCをネット接続できる環境があるかどうかを確認すればよいですかね？

*　ssh空いてるか確認
   SSHを利用して外部への接続が可能かどうか確認するということでしょうか？
　 詳しくないのでもう少し詳しく確認したいことの内容を教えて頂けると助かりますmm

[2015-02-05 12:39] mahya8585 commented on #20
@amacbee 変更しますた！心が折れるレベルのマサカリレビューをお願いします（嘘です。マサカリは持ち込み禁止です）

[2015-02-05 12:56] mahya8585 commented on #5
@nobolis

相違ないです！wi-fiでもランでも構わないですが、PC25台（スタッフが使用するものを含めると30台くらい？）を接続できるネット環境って大学側で用意してもらえるのか（すでに学校にあるよね）？
ということを確かめたい、というメモでした。

こちらも概ねご認識のとおりです！
SSHポートを利用して外部ネットワークへ接続し、ワークショップの運営をしたいと考えています。
そこで、先方に確認したい内容としては
- 大学側で用意いただいたネット環境で、SSHポートの利用ができるのか
- SSHポート利用に際し、 IP制限など制約事項があれば大学側から指示いただきたい
  - IP制限がかかっている場合はワークショップ用の接続先IPを事前開示することで当日までに設定しておいてもらうことは可能か

というあたりの確認になります。
ただし、現在ワークショップ用のアプリケーションの設計や

[2015-02-05 13:45] MamiSATO commented on #7
・各回20名、全て募集をかけてしまっていいか（当日枠残す？）

[2015-02-05 23:36] nobolis commented on #5
@mahya8585 @amacbee @sinamon129
- ネット環境の件
  PC30台分接続できる環境があるか確認ということで了解です。
  最近はどうかわかりませんが、大学ってどこでもネット接続できるわけじゃないので（講義室で自由にWi-Fi使えたら学生授業聞かずに遊んじゃうかも？）、これは早めに聞いた方がよさそうですね。
- SSHの件
  　確認事項、理解できました！
  　SSHを利用できるか否かについては先に確認して、それ以外の詳細事項は次回作業日以降確認ということにしようかと思います。
- SSHが利用できなかった場合の代替案
  　もしSSHポートの利用ができないとなった場合は、どうしますか？
  　相手にこういう要望を出してほしい等のご意見ありましたら挙げてもらえると助かります。

[2015-02-06 00:32] amacbee commented on #20
良いと思います :)

[2015-02-06 01:06] amacbee commented on #5
SSHポートは最悪講師だけ使えれば良い感じにするので（予定），なければないで問題ないです．
どちらにしろ個人の mobile wifi は念のため持ち込む予定なので！

[2015-02-06 01:30] nobolis commented on #5
@amacbee
SSH利用できるか否か確認、なければないでOKということで、了解いたしましたー。

[2015-02-06 03:27] mahya8585 commented on #20
![20090311_536373](https://cloud.githubusercontent.com/assets/10239748/6072795/2f976d08-ade9-11e4-8a01-c36036257a14.jpg)

ではこちらで横展開をおこない（ただのコピー）、
connpassリリースしてしまいます！

本issueのゴール：3日分の作業日connpassリリース完了及びslack通知完了

[2015-02-06 09:51] mahya8585 commented on #20
http://pyladies-tokyo.connpass.com/event/11776/

先行して２月２１日分公開＆slack通知済み

[2015-02-07 06:44] nobolis opened #27 "大判ポスター用ワークショップの紹介文（100-200文字程度）作成"
Anita Borgより依頼がありました。
提出期限は現在のところ未定。
要担当決め。

[2015-02-07 06:57] nobolis opened #28 "Girls Tech Fes HP上での団体紹介ページリンク先について確認"
Girls Tech Fes HP（ http://www.t.u-tokyo.ac.jp/epage/event/2015/150128_1.html）
における団体紹介ページリンク先について

上記イベント案内からのリンク先は
PyLadies Tokyo
http://pyladies-tokyo.connpass.com/

および、作られる予定のconnpassイベント応募サイトでよいでしょうか？

[2015-02-07 06:59] nobolis commented on #25
[Done]　#27 大判ポスター用ワークショップの紹介文作成

[2015-02-07 07:00] nobolis commented on #25
[Done]　#28 Girl Tech Fes HPからのリンク先について

[2015-02-07 07:01] nobolis commented on #27
提出は2月中を目処にとのこと。

[2015-02-07 07:09] nobolis opened #29 "当日のタイムテーブル連絡 to 東大/Anita Borg"
当日は教室タイプの部屋を終日（10〜16時のイベント開催時間内）自由に使ってよいそうで、詳細なスケジュールが確定したら知らせてほしいとのことです。

[2015-02-07 07:12] nobolis opened #30 "当日のタイムテーブル確定"
先方より当日のタイムテーブルを連絡してくださいとのリクエスト#29 がありました。

打ち合わせ#1より、
当日タイムスケジュール：
11:00〜12:00　１回目　ワークショップ
12:00〜14:00　ランチ＆コミュニケーションタイム＆次回準備
14:00〜15:00　２回目　ワークショップ
15:00〜16:00　コミュニケーションタイム＆片付け

となっていますが、このスケジュールで確定でしょうか？

[2015-02-07 07:14] nobolis commented on #25
[Done]　#29 当日のタイムテーブル連絡

[2015-02-07 07:17] nobolis opened #31 "ワークショップで使用するPCへの事前準備が必要か否か"
@amacbee
ワークショップで使用するPCへの事前準備が必要でしたらお知らせください。

[2015-02-07 07:18] nobolis commented on #25
[Done]　#31 ワークショップで使用するWindows PCへの事前準備

[2015-02-07 09:52] MamiSATO commented on #6
メールアドレスを教えて下さい。
（なにか連絡があった場合に使用します。）
　フリー記述

※PCのアドレス？携帯のアドレス？明記したほうがいいかも。

学年を教えてください。
　□高校1年生
　□高校2年生
　□高校3年生
　□高専1年生
　□高専2年生
　□高専3年生
　□高専4年生
　□大学1年生
　□大学1年生
　□大学1年生
　□大学1年生
　□その他

※チェックボックス形式？
※短大わける？
※大学院生もくる？

PCの使用頻度を教えてください。
　１週間に[XX]時間くらい使用する

PCの使用用途はなんですか？
　フリー記述

普段使用しているPCのOSを教えてください。
　□Windows
　□Mac
　□その他

プログラミングの経験はありますか？
　○ある
　○なし

プログラミング経験がある場合、経験言語を教えてください。
　フリー記述

プログラミング経験がある場

[2015-02-07 09:53] mahya8585 commented on #7
本家サイトにもワークショップは事前申し込みが〜と書かれているので、募集自体は20名でかけてしまって良いのではないかと思います。が、いかがでしょう・・・

[2015-02-07 10:04] MamiSATO commented on #6
叩きを、googledocsに貼りました。
コメント編集お願いします！
https://docs.google.com/document/d/1eXkftP1DDgyy1Vc43Q122SUhD-DHHlsunHXl62qkYzA/edit?usp=sharing

[2015-02-07 11:15] nobolis commented on #6
docがview onlyだった（connpassも権限なくて見られない）ので、こちらにコメントしますね。

メールアドレス、必要でしょうか？
あまり開示したがらない人もいるような気がするので、これがハードルになって断念する人も出てくるかなと。
書かせるとしても最後に、任意記入にした方がよいかなと思いました。

[2015-02-07 11:52] saorio commented on #6
フリー記述だと書かない人もいるので、全部選択式にして、その他（）で書かせるとか。
集計する時もその方が楽かと思いますが、いかがでしょうか。。？
例えば、PCの使用用途については、□メール　□Web閲覧　□写真整理　□ゲーム　□その他（　）
複数選択式とかで、、、

[2015-02-07 13:04] mahya8585 commented on #20
- http://pyladies-tokyo.connpass.com/event/11828/
- http://pyladies-tokyo.connpass.com/event/11859/

３日分全てのconnpass作成完了、slack通知済み。
本チケットゴール達成によりクローズします。

[2015-02-07 13:04] #20 closed, assigned to mahya8585

[2015-02-07 13:06] mahya8585 commented on #30
上記スケジュールで相違ないです！
( @amacbee 今後変更の可能性があるようであれば示唆ください）

[2015-02-07 13:30] mahya8585 commented on #21
うっかり先に作業日connpassを作成してしまった・・・
上記内容に合わせてconnpass 作成を行う。

ゴール：connpassイベントの公開及び既存スタッフへの周知と登録依頼まで行うこと

[2015-02-08 00:07] amacbee commented on #31
可能であれば事前にPCへ
- エディタの導入
- Python環境の導入
- ワークショップに利用するコードをダウンロード

などやりたいです．
恐らく東大側でこれらを対応するのは難しいと思うので，前日にこの事前準備の時間を頂けるか聞いて頂きたいです〜

[2015-02-08 00:08] amacbee commented on #30
問題ありません！上記の通リでよろしくお願いしますmm

[2015-02-08 00:10] amacbee commented on #28
はい，そのようにお願いしますmm

[2015-02-08 00:30] amacbee commented on #6
基本的に，アンケートは運営側で活かせそうな情報だけで問題ないと思うので，学年とかは大雑把に 大学生／高校生／高専生／その他 くらいで良さそうかなと思います．
使用頻度も恐らく適当に書いてくるだろうと思うので（実際に自分が聞かれても大雑把にしか書かない気がするので(___; ），PCの使用用途だけを聞いてみるだけで良いかもしれません．
プログラミング経験 (or 情報技術に関する知識) の欄はもう少し詳細に書きたい気がします．
- あなたの情報技術に関する知識について教えて下さい
  - PCの起動/終了方法は分かる
  - 高校や大学で情報技術に関する授業を受けたことがある
  - Microsoft Office (Word, Excel, PowerPoint 等) 製品を使ったことがある
  - ワープロ検定 等の情報技術に関連した資格を持っている
  - プログラミングがどういった

[2015-02-08 00:47] amacbee commented on #7
コメント遅くなりました (___;
各回20名募集かけちゃって下さい！
当日集めるのは可能な限り避けたい（多分埋まらないので当日集めることになるとは思ってます←）

[2015-02-08 00:50] #18 closed, assigned to amacbee

[2015-02-08 00:59] amacbee commented on #3
現時点で見た範囲でコメントします〜
- Python Workshop -> プログラミング体験イベント がいいかもしれません
- PyLadies Tokyoって？みたいな項も欲しい
- 内容は直前に変わる可能性もあるので（ないと信じたいですが・・・）具体的にどういうフレームワークを使うかみたいな項は入れない方向でお願いしますmm (プログラミング言語の一つであるPythonを使って，簡単なチャット機能を作ります，程度の範囲で)
- 当日の講師は私以外でもやりたい方いればどうぞって感じの温度感なんですがどうしましょうかね。。。とりあえずissueたてて決めますmm

[2015-02-08 01:04] amacbee opened #32 "イベントの講師を決定する"
ref. #19
当日，各種説明などをする役を決めたい
一人でやってもいいし分担してもいいし午前と午後で分けても良い
- PyLadiesTokyoの説明
- Python言語の説明
- チャット機能の説明 → 手を動かす → 説明 → ...

[2015-02-08 01:05] amacbee commented on #32
やりたい方がいらっしゃれば任せて良いかなという感じですがいかがですか？
特にいらっしゃらなければ私がやりますmm

[2015-02-08 02:02] amacbee opened #33 "イベントについてTwitterやFacebook等SNSで発信する"
アカウントの管理者権限持ってる人じゃないのと無理なので，持ってる人の中で割り当てたい

[2015-02-08 02:20] saorio commented on #33
これって、普通につぶやいたり、投稿するのでは意味ないんですか？管理者でないといけない理由が知りたいです。

[2015-02-08 02:22] amacbee commented on #33
あ，説明が足りませんでしたすみません。。。
PyLadies Tokyoの公式アカウントとしてつぶやいたり投稿したりする事を考えています．
普通につぶやいたり投稿するのも大歓迎です！

[2015-02-08 02:31] mahya8585 commented on #33
各自アカウントでの拡散は是非現メンバーみなさんにお願いするとして←
公式Twitter/FBやりますよ〜
FBはconnpassページ作成完了後と一週間前・前日
Twitterは週一ぐらいでつぶやいておきますかね・・・

スタッフ公募も含めて拡散しませう（スタッフ公募ペー時作成完了後まとめてお知らせ出します）
こちらは2月の作業日までに１回にとどめておくかんじで・・・いいかな。。

[2015-02-08 02:33] amacbee commented on #33
お願いします！上記の感じで問題無いですmm

[2015-02-08 02:33] mahya8585 commented on #33
╭( ・ㅂ・)و ̑̑

[2015-02-08 03:47] amacbee commented on #23
ref. #26
`vagrant provision` がうまくいかないと思ったらこいつだった（つい最近社内の #python スレでも上がってたのに見落としてた(´・ω・｀)w）
https://github.com/mitchellh/vagrant/issues/3096

[2015-02-08 04:10] amacbee commented on #1
利用するWeb FrameworkはTornadoでいきます

[2015-02-08 04:10] #1 closed, assigned to nobody

[2015-02-08 04:12] amacbee commented on #2
wakari.io 複数人で使うにはちょっと難がある感じだったので，コード書いたりする環境としてIPython Notebook Server，アプリケーションを動かすフレームワークとしてTornadoで考え中．
ただ事前準備が可能であれば個々のマシンにソフトとか色々入れられるので，その辺りがはっきり次第再考したい感じ．

[2015-02-08 04:13] amacbee commented on #2
とりあえず以下のissue待ちで
ref. #31

[2015-02-08 04:39] #23 closed, assigned to amacbee

[2015-02-08 05:51] amacbee opened #34 "websocket-clientを試す"
Python製のWebSocket ClientならIPython Notebook上で完結するので，試してみる
https://github.com/liris/websocket-client

[code]

[2015-02-08 05:51] amacbee commented on #34
ただこれやるとデザインも何もないから超地味だな〜どうしよう

[2015-02-08 05:54] amacbee commented on #34
IPython Notebook上でデモコード動作させた

[code]

出力

[code]

[2015-02-08 06:57] amacbee opened #35 "個々のIPython Notebookをhostingしたい"
runipyとか良いかもしれない
https://github.com/paulgb/runipy

Jenkinsさんもわんちゃんあり

[2015-02-09 04:24] nobolis commented on #31
上記の項目について事前導入が必要ということで了解です。
以下確認です:
- 前日希望とのことですが、当日朝よりは前日がいいですか？
- 準備時間は何時間くらいかかりそうですか？（作業人数次第かもしれませんが、目安として教えてください）

[2015-02-09 04:25] nobolis commented on #30
了解しました－。上記スケジュールを東大/Anita Borgに連絡しておきます。

[2015-02-09 04:26] nobolis commented on #28
了解しましたー。

[2015-02-09 04:32] amacbee commented on #31
もし環境導入に何らかの問題があった場合，前日であればまだ対応出来ることもありそう（かつ当日朝はバタバタしてそう）なので，当日朝よりは前日が良いです．
逆に作業時間として何時間頂けるか聞いてみて欲しいのですが（流石に厳しいとは思いますが可能であればあるだけ欲しい），Python＆環境の導入×25台と見て少なくても2時間は必要かなと思います．
無理な場合は代替案を考えるので，早めにご連絡頂けると嬉しいです．

[2015-02-09 04:37] nobolis commented on #6
メアドが必要な理由、理解しました。
https://pyladies-tokyo.slack.com/archives/engineering-event/p1423351547000003
https://pyladies-tokyo.slack.com/archives/engineering-event/p1423353008000006

フォローアップイベントも検討しているそうなので、メアドは本イベントおよび当該団体が企画するイベントに関する連絡事項の通知にのみ利用する旨を明記する必要があるかなと思います。

関連して、「フォローアップイベント等、関連イベントのご連絡に当該メールアドレスを利用させていただいてもよろしいでしょうか」といった質問を加えた方が親切かなと。

[2015-02-09 04:39] nobolis commented on #31
前日希望で了解です。
時間はできるだけ長い方がよいということで、希望を出してみますね。

[2015-02-09 23:33] nobolis commented on #27
ポスターだけでなくWEBページにも企画概要を記載予定。
提出され次第掲載するので、早めに提出してもらえると助かるとのこと。
最終提出ラインは2月。

[2015-02-10 00:10] nobolis commented on #3
東大/Anita Borgより、企画概要紹介（ウェブサイト・ポスター掲載用、100～200字）を早めに作成してほしいとの依頼が来ています #27

事前予約ページの情報と内容がかぶると思うので、事前予約ページ担当者に作成してもらうのが妥当かなと思いますが、お忙しいでしょうか？

むずかしければ、募集ページ掲載予定の情報を教えてもらって@nobolisが作成します。
こちらは余裕があるので、面倒だったら投げてもらってOKですよ。

[2015-02-10 00:16] nobolis commented on #27
#3 へコメントdone

[2015-02-10 00:17] nobolis commented on #29
東大/Anita Borgにタイムテーブルを連絡しました

[2015-02-10 00:17] #29 closed, assigned to nobody

[2015-02-10 00:18] nobolis commented on #31
必要な作業について連絡しました。

[2015-02-10 00:24] amacbee commented on #31
ありがとうございます！

[2015-02-10 00:26] amacbee commented on #27
100〜200字概要私が作成します〜（今日のお昼ごろ作業しますmm）
簡単な団体紹介と企画内容の紹介みたいな感じですよね？書いたらレビューお願いします @all

[2015-02-10 00:27] amacbee commented on #2
Beakerも良さそうだけど試してる暇ないな。。。
http://beakernotebook.com/

[2015-02-10 00:32] nobolis commented on #27
それではよろしくお願いします！
簡単な団体紹介と企画内容でよいと思います。

[2015-02-10 00:33] nobolis commented on #3
企画概要文作成は@amacbee 担当ということで、了解いたしました。

[2015-02-10 03:22] amacbee commented on #27
[code]

[2015-02-10 03:25] amacbee commented on #27
内容がつながってないな．こっちのほうが良いか．

[code]

[2015-02-10 03:30] #30 closed, assigned to amacbee

[2015-02-10 03:40] mahya8585 commented on #27
![fyi](https://cloud.githubusercontent.com/assets/10239748/6121197/f65d2e06-b121-11e4-96b2-145b319f200a.gif)

文字数制限があると思うので調整の必要があるかとはおもいますが。。。一応れびゅ。

カンマ＆ピリオドって学会式でいいかなと思うんですが、一般掲示向きではないかも・・・？
工学系の広報の温度感聞きたいかんじ

〜頂ける内容です
と言い切って良いかと思います。

[2015-02-10 03:41] nobolis commented on #27
本体イベントのサイトが参考になるかも。
http://tuk.t.u-tokyo.ac.jp/schejule/te/contents/

[2015-02-10 03:45] nobolis commented on #27
個人的には3文目以降は2文目の内容をもうすこし具体的に記述するような内容の方が実際にやることを想像しやすくなっていいかな（たとえば「xxxというツールを使ってコードを書いたり変更したりしながらどのようにチャット機能が変化するかを体験できます」とか）と思ったのですが、本体イベントも @amacbee さん的な文章なので、この線でよさそうですかねー。

@mahya8585
カンマ&ピリオドは広報さんに他の文章と同じ体裁に揃えてもらえるようお願いしましょうか。

[2015-02-10 03:49] #31 closed, assigned to nobody

[2015-02-10 03:50] #28 closed, assigned to nobody

[2015-02-10 03:50] nobolis opened #36 "connpassイベント応募サイトURLを東大/Anita Borgに連絡"

[2015-02-10 03:51] amacbee commented on #27
@mahya8585 カンマ＆ピリオドは私の癖なんですが，言われてみれば違和感ある＼(^o^)／w
今の文章でいちおう200字ギリギリなんですが，国際的コミュニティでいきましょう．
@nobolis プログラミングの知識とか全然いらないよ！的な部分を全力で押したいので，具体的な単語とかない方が相手がひるまなくて良いかな〜というのを意識してみました！イベント中はある程度どういう技術を使うのか名前くらいは出す予定です〜

[code]

[2015-02-10 03:57] uni-q commented on #14
2/15までにスケジュールをひくのと、あと業者を選定します。

[2015-02-10 04:03] amacbee commented on #14
よろしくお願いします〜

[2015-02-10 04:06] nobolis commented on #27
とりあえず、上記文章で確定ということでいいですかね。
他にご意見がある方もいるかもしれないので、とりあえず提出はペンディングして、2月12日に提出しようかと思います。

[2015-02-10 04:08] amacbee commented on #27
@nobolis 問題なかったら確定してさくさく提出してしまって良いですよ〜

[2015-02-10 04:10] nobolis commented on #27
@amacbee そうですか？じゃあ提出しちゃいますね。

[2015-02-10 04:11] amacbee commented on #27
はい！お待たせするのもあれなので．
よろしくお願いします〜

[2015-02-10 04:14] nobolis commented on #27
おくりましたー。

[2015-02-10 04:14] #27 closed, assigned to nobody

[2015-02-10 14:01] amacbee commented on #7
以下のページヘのリンクも載せて下さい．よろしくお願いします！
http://pyladies-tokyo.connpass.com/event/11862/

[2015-02-10 14:04] amacbee commented on #6
フォローアップイベントのページ作成が間に合ったので，参加者へのフォローアップイベントの通知を現イベントと同時に行えそうです．なので，「フォローアップイベント等、関連イベントのご連絡に当該メールアドレスを利用させていただいてもよろしいでしょうか」はなくても大丈夫そう．
よろしくお願いします！

[2015-02-10 23:19] nobolis opened #37 "東大/Anita Borgへ画像素材提供"
@all
東大/ABより、
「ポスター、WEBには、ロゴも使わせていただく予定です。
その他、使ってもいい魅力的な画像などあれば共有頂けるとうれしいです。」
とのことですので、素材をお持ちの方がいらっしゃいましたらご提供頂けるとうれしいです。

[2015-02-10 23:40] nobolis opened #38 "ワークショップで使用するPCへの事前準備"
@amacbee
3月27日（金）からPC利用可能、27日（金）と28日（土）午後であれば作業可能（要調整）とのことです。
PCのOSはWindows7、無線LANカード、マウス付き。

日程希望は3月28日（土）午後でよかったでしょうか？
SSHは全部接続できる必要がありますか？
接続に関する資料はクローズドでアップします。

[2015-02-10 23:41] nobolis commented on #31
事前準備の詳細 --> #38

[2015-02-11 11:55] amacbee commented on #37
あまり写真がないんですがとりあえず。。。
https://www.facebook.com/PyLadiesTokyo/photos_stream

[2015-02-11 11:57] amacbee commented on #38
日程希望は3月28日でお願いします．
SSHは可能であれば全台接続出来ると嬉しいです．

[2015-02-11 12:33] nobolis commented on #38
了解です！そのように連絡しておきますねー

[2015-02-11 12:34] amacbee commented on #38
お願いします〜

[2015-02-11 12:45] nobolis commented on #37
@amacbee
情報ありがとうございます。
こちらのURL連絡しておきますねーノ

[2015-02-11 12:47] amacbee commented on #37
私はイベント中写真を撮っていない (=いつも忘れている) のですが，恐らく他の方は私よりも写真を持っているので，Slackの @channel 等を利用して聞いてみて下さい〜

[2015-02-11 13:02] nobolis commented on #37
なるほど、@channelに投げてみるといいんですね。やってみます✋

[2015-02-11 13:06] amacbee commented on #37
:star:

[2015-02-13 12:32] mahya8585 commented on #33
facebook第一弾配布だん
Twitter第一弾配布だん

[2015-02-13 12:36] mahya8585 commented on #17
- 担当しているタスク
- タスク進捗〜何が終わっていて何が終わっていないのか〜
- 残タスクの列挙
- 次回作業日までに自分自身が稼働できる時間とかんがみたタスクのやばい度
- 疑問・質問・共有

[2015-02-14 07:43] #34 closed, assigned to nobody

[2015-02-14 07:46] amacbee commented on #2
#31 の結果，前日にPCの環境を構築できることがわかった
よって以下のソフトを個々のPCに導入する
- Python 2.7.9
- PyCharm
  - pipでtornadoを導入

[2015-02-14 07:46] #2 closed, assigned to nobody

[2015-02-14 07:47] amacbee commented on #35
IPython Notebook使わないのでclose

[2015-02-14 07:47] #35 closed, assigned to nobody

[2015-02-14 07:54] amacbee opened #40 "chat-demoのクライアント側を作成する"
クライアント側はJavaScriptです
具体的にはGithubの `gitls-tech-fes` repo中の以下のファイルを変更することになるはず
- src/templates/*
- src/static/*

[2015-02-14 07:55] amacbee opened #41 "chat-demo作成までをコンテンツとしてどう見せるか考える"

[2015-02-14 07:57] amacbee opened #42 "本番当日の流れを考える 【コンテンツ】"

[2015-02-14 07:57] amacbee commented on #42
ref. #41

[2015-02-14 08:00] amacbee opened #43 "当日参加者がアクセスするServer側のWebSocket環境を作成する"
私がやりませう

[2015-02-14 08:00] amacbee commented on #42
SSH入れると超絶面倒くさいことがわかったので可能な限り使いたくない

[2015-02-14 08:03] amacbee opened #44 "チャットへの投稿メッセージにユーザ名をつける"
よろしくお願いします！！！←

[2015-02-14 08:04] amacbee commented on #40
私できれば触りたくないので大雑把に切ってしまいましたが，よしなに小タスクに分解して下しあ

[2015-02-14 08:08] amacbee commented on #40
PyLadies Tokyoのロゴとか入れたいですね！！！（無責任な発言）

[2015-02-14 08:10] amacbee opened #45 "ローカルのWindows環境でchat-demoの動作確認を行う"

[2015-02-14 08:11] amacbee commented on #43
AWS上に作成する予定

[2015-02-14 08:14] amacbee opened #46 "前日のWindowsセットアップ手順の整理"
私がやります

[2015-02-14 08:15] amacbee opened #47 "サーバ上のWebSocket環境の動作確認を行う"
複数ユーザからの投稿を想定どおりにさばけるかなど

[2015-02-14 08:28] amacbee opened #48 "初期状態の環境を用意する (Windows機にコピーする)"

[2015-02-14 08:42] amacbee opened #49 "午前と午後の入れ替わりの際にローカル＆サーバの環境を戻す手順を整理する"

[2015-02-14 08:46] amacbee commented on #46
- Desktopに `girls-tech-fes` という作業用ディレクトリをコピー (作業用ディレクトリを予め用意) ref. #48
- Windows 環境に以下をインストール
  - Python (2.7.9): https://www.python.org/downloads/
  - PyCharm: https://www.jetbrains.com/pycharm/
- PyCharmにて `girls-tech-fes` のvirtualenvを作成 (保存先は各々のhomeディレクトリ以下に `virtualenvs` 的なディレクトリ作る)
- `girls-tech-fes` というプロジェクトを作成し，作業用ディレクトリを指定する
- 使用するインタプリタに `tornado` を導入する (pip)

[2015-02-14 08:46] amacbee commented on #46
さくっと書いておくとこういう感じ？

[2015-02-14 08:50] amacbee opened #50 "サーバ環境用のAnsible Playbookを用意"

[2015-02-15 05:30] mahya8585 commented on #44
デモソースのnot websocket版チャットが本件実現しているので、こちらを参考に進めようと画策中だったが。。。

not websocket版はgoogleの認証システムを使いログイン＋ユーザ名の表示を行っている。
googleのアカウントないと実現できない。
持ってない子がいそうなので、別の方法を考える。

それにしても同じチャット昨日でもjsの組み方とかdefの構成の仕方とかが結構異なった作りになってて、読んでいて勉強になる。

[2015-02-15 07:56] mahya8585 commented on #44
ページ遷移の仕組みとかformの受け渡しを理解しはじめた。テンションあがってきた。

[2015-02-15 09:53] mahya8585 commented on #44
できた・・・・！

[2015-02-15 09:53] amacbee commented on #44
:star:

[2015-02-17 03:16] #21 closed, assigned to mahya8585

[2015-02-17 03:16] #8 closed, assigned to nobody

[2015-02-17 03:17] #16 closed, assigned to mahya8585

[2015-02-17 03:17] amacbee commented on #32
とりあえずこれは私がやるということで閉じます

[2015-02-17 03:17] #32 closed, assigned to nobody

[2015-02-17 03:19] amacbee commented on #5
これ現時点でどうなってるんでしたっけ？

[2015-02-17 03:20] amacbee commented on #40
@sinamon129 よろしくお願いしますmm

[2015-02-17 03:21] amacbee commented on #38
前日の午後であれば作業可能との事なので，当日東大に出向いて作業

[2015-02-17 03:23] amacbee opened #51 "2015/03/28 作業日にWindows PCのセットアップを行うメンバーの決定"
前日に東大 (本郷キャンパス) に出向いてPCのセットアップを行うメンバーを決定する
最低でも3人位は欲しいけど，他のタスクと要調整

[2015-02-17 03:24] amacbee commented on #51
全員で本郷キャンパスに行くという手もあるけど未定

[2015-02-17 03:26] amacbee commented on #48
初期状態 = ワークショップを行える状態
一緒にセットアップを行うメンバーにも共有
ref. #51

[2015-02-17 03:31] uni-q commented on #14
2/15作業できませんでした。
2/20作業する予定。

[2015-02-17 03:31] amacbee opened #52 "当日の受付方法を決定する"

[2015-02-17 03:34] amacbee opened #53 "当日のプレゼン資料を作成する"

[2015-02-17 03:35] amacbee commented on #52
受付担当を @uni-q さんにお願いしたい感じ

[2015-02-17 03:36] uni-q commented on #52
:ok_hand:

[2015-02-17 03:40] amacbee commented on #46
ref. #51

[2015-02-17 03:46] uni-q commented on #52
TODO あとでヒアリングしたり決めたりすること
- 受付に必要な人数
- 受付の方法（紙かPCか）
- 受付の場所
- 借りたいもの（長机、椅子、ホワイトボードなど）
- スタッフが入場〜準備できる時間
- 受付時間

※ 会場やイベント本部への質問は #24 へ

[2015-02-17 03:52] amacbee opened #54 "当日の流れを決定する"
よしなに他の人と連絡をとりつつ決定して欲しい感じ
当日の役割分担の話ともリンクするはず
- 何時にどこに集合するのか
- いつまでに教室に入れる？いつまでに教室をあける必要があるのか
- 午前と午後の入れ替わり作業の整理 (何時までに作業を始める必要があるとか終わる必要があるとか)
- その他諸々

[2015-02-17 03:53] amacbee commented on #54
当日スタッフの割り振り ( ref. #19 ) とかとまとめてやって貰いたい感じ

[2015-02-17 03:56] amacbee opened #55 "必要情報が集まりしだい事前募集ページに追記する"
とりあえず今思いつくのは以下くらい
- 当日ワークショップが行われる具体的な教室名
- ワークショップ資料へのリンク
- ( 他に何かしら担当する人がいるなら ) ワークショップ講師の追加

[2015-02-17 03:59] amacbee opened #56 "ワークショップ環境が正しく動作するか検証する（個人）"

[2015-02-17 03:59] amacbee opened #57 "ワークショップ環境が正しく動作するか検証する（複数人）"

[2015-02-17 04:00] amacbee commented on #56
事前に用意した資料通りに操作することで，正しくワークショップ環境が構築できるかを検証する

[2015-02-17 04:01] amacbee commented on #56
要：Windows環境（Pythonが入っていない環境であればなおよし）

[2015-02-17 04:01] amacbee commented on #57
3月28日にやるのじゃ遅いな〜
要相談

[2015-02-17 04:03] amacbee commented on #57
#49 も含めて検証したい感じ

[2015-02-17 04:04] amacbee commented on #48
インストールが必要になるので，初期状態として用意するのは
- PyCharmのインストーラ
- Python 2.7.9のインストーラ

で良いはず（要確認）

[2015-02-17 04:16] uni-q commented on #5
「当日必要なもの」だと大きすぎるので、担当ごとに洗いだした方が、見落としがなくて良いような気がしますが、どうでしょうか？

当日の流れで適当に洗い出してみると…
- 受付で必要なもの ( #52 から派生した別チケットに集約したいかも？）
- 事前説明プレゼンで必要なもの（プロジェクター、マイク、プロジェクターとmacをつなげるコネクタ）
- ワークショップで必要なもの（ネットワークやPC、机、椅子、とか。このissueをワークショップで必要なものと変更してもいいかもしれません）
- ワークショップ終了後に必要なもの（アンケート用紙？）

[2015-02-17 04:18] amacbee commented on #5
いいですね！
このissueを親issueとして子issueたてますmm

[2015-02-17 04:19] amacbee opened #58 "受付で必要なものを整理する"
ref. #5
ref. #52

[2015-02-17 04:20] amacbee opened #59 "プレゼンで必要な物を整理する"
ref. #5
- プロジェクター
- マイク
- プロジェクターとmacをつなげるコネクタ

[2015-02-17 04:20] saorio commented on #51
東大は家から近いのでできますよ！
やり方共有頂ければ^^;

2015年2月17日火曜日、Ai MAKABInotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-02-17 04:21] amacbee opened #60 "ワークショップで必要なものを整理する"
よしなに以下のissueの内容をまとめて下さい
ref. #5
- ネットワークやPC
- 机、椅子
- etc.

[2015-02-17 04:22] amacbee opened #61 "ワークショップ終了後に必要なものを整理する"
ref. #5

あれば

[2015-02-17 04:25] amacbee commented on #51
@saorio よろしくお願いします！

[2015-02-17 04:27] amacbee commented on #9
とりあえず振っておきますmm

[2015-02-17 04:29] amacbee commented on #38
ref. #46
ref. #48
ref. #51

[2015-02-17 04:30] amacbee commented on #51
ref. #38

[2015-02-17 04:30] amacbee commented on #48
ref. #38

[2015-02-17 04:30] amacbee commented on #46
ref. #38

[2015-02-17 04:33] amacbee commented on #61
終了後アンケートとかあると良いのかもしれない

[2015-02-17 06:55] uni-q commented on #58
:ok_woman:

[2015-02-17 13:45] mahya8585 commented on #6
@amacbee @MamiSATO アンケートをconnpassに反映しました。
内容のレビューおねがいします

[2015-02-17 13:49] mahya8585 commented on #61
googleフォームとかでその場でサクッと答えられるように手配してみましょう

[2015-02-17 13:51] mahya8585 commented on #53
座学説明（webscketってなに？とか全体のアーキテクチャの流れとか）は @amacbee 以外の人がやってもいいかもしれないですね。漫才的に進めてもいいと思うし。。。

[2015-02-17 13:52] amacbee commented on #61
作成したらレビューするのでAssigneeを私に変更して下さい！

[2015-02-17 13:54] amacbee commented on #53
お願い出来るならお願いしたい感じです(ΦωΦ)
内容的にはWebSocketの説明とか全部省いて何重にもラッピングされたよく分からないけど何となく伝わったラインを目指すつもりでした

[2015-02-17 13:59] amacbee commented on #36
よろしくお願いしますmm
http://pyladies-tokyo.connpass.com/event/11662/

[2015-02-17 14:00] amacbee commented on #3
http://pyladies-tokyo.connpass.com/event/11662/

[2015-02-17 14:00] #3 closed, assigned to MamiSATO

[2015-02-17 14:00] amacbee commented on #6
http://pyladies-tokyo.connpass.com/event/11662/

[2015-02-17 14:00] #6 closed, assigned to mahya8585

[2015-02-17 14:00] amacbee commented on #7
http://pyladies-tokyo.connpass.com/event/11662/

[2015-02-17 14:00] #7 closed, assigned to mahya8585

[2015-02-17 14:09] mahya8585 commented on #33
Facebook / Twitter 共に　ワークショップ参加者向けのconnpassアナウンスだん。
直前アナウンスや前日アナウンス・開催レポなどの広報活動については別途issueで対応するものとし、
本issueは完了とします。

[2015-02-17 14:09] #33 closed, assigned to mahya8585

[2015-02-17 14:52] mahya8585 commented on #10
#17
に近しい感じで（適宜自身の作業内容に合わせて改変可）進捗情報交換しましょう。
事前にここに書いてあると、当日スムーズかと思います

[2015-02-17 14:57] saorio commented on #33
Facebookで早速シェアしました！

2015年2月17日火曜日、maaya ishidanotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-02-18 01:14] uni-q commented on #10
私が2/21の作業でやろうと思ってることリスト
- #52 受付について段取りを決めたいので、当日の準備にとれる時間や、スペースの感覚などヒアリングしたい。 @nobolis さんに聞けば分かるのかな
- と、同時に #58 受付で必要なものピックアップ
- 余力があったら、 #14 Tシャツ業者や費用について相談（オンラインでも相談できそう＆必須ではないので後回しにしてます。）

[2015-02-18 02:03] nobolis commented on #5
#59 プレゼンで必要なものと#60 ワークショップで必要なものは内容がかぶる感じがしますね。
たとえばプロジェクタとマイクはプレゼンでもワークショップでも使用しますよね？

洗い出しは担当毎の方がよいと思いますが、当日必要なものはむしろワークシートにまとめて記入した方が、全体を一覧できてみんなで見落としが確認しやすく、かつ、持ち物チェックシートとしても使いやすいかなと思うのですが、いかがでしょう。

[2015-02-18 02:30] nobolis commented on #10
- 担当しているタスク　
  　1. 先方との連絡窓口 #24 #25 #37
  　2. ワークショップで必要なものを整理 #60
- タスク進捗〜何が終わっていて何が終わっていないのか〜
  　1. 適宜対応して連絡は概ね完了（あの件は？ということがあったら連絡ください）しているが、#37の画像素材はあまり集まっていません。　
  　2. 未着手。 　
- 残タスクの列挙
  　1. 画像素材集め
  　2. ワークショップで必要なものの整理。〜21日にやろうと思います。
  　　個人的にはほかの当日必要物品と併せてワークシートを作ってリスト化・共有したいです。
- 次回作業日までに自分自身が稼働できる時間とかんがみたタスクのやばい度
  21日でissueすべて終えられると思います。
- 疑問・質問・共有
  東大/AnitaBorgに聞きたいことがあったら、@nobolisにお願い

[2015-02-18 02:35] nobolis commented on #36
東大/AnitaBorgに連絡しましたので、issueを完了します！

[2015-02-18 02:36] #36 closed, assigned to nobolis

[2015-02-18 02:42] nobolis commented on #55
教室名については質問投げておきました。
ref. #24

[2015-02-18 02:46] nobolis commented on #24
#55 開催教室情報確認
2015/02/18 連絡済
2015/02/21 確認・報告済

[2015-02-18 02:47] nobolis commented on #24
#58 受付で必要なもの

[2015-02-18 02:49] nobolis commented on #24
@amacbee りょうかいですノ当日の時間的なこと、教室、使える設備などつめていきます。

[2015-02-18 03:02] nobolis commented on #60
とりあえず思いつくものをメモ:
- 参加者用PC (Windows7、無線LANカード、マウス付きが利用可能 #38 )
- 電源タップ（あるいは電源設備があるか要確認 #24）
- ネットワーク（接続可、SSHについてはクローズドで資料をアップ済み）
- 机と椅子（教室が机椅子可動タイプか否か問い合わせ中 #24)
- プロジェクタ（チャット画面投影用、利用可能か問い合わせ中#24）
- マイク（利用可能か問い合わせ中#24）

[2015-02-18 03:36] uni-q commented on #5
そうですね。各担当で必要なものをリストアップしたら、全体をまとめて見比べるフェーズがあると、無駄ないですね。

[2015-02-18 03:46] uni-q commented on #5
スプレットシート作りました。
https://docs.google.com/spreadsheets/d/1dtugWVZ5pBS_u20kF0qDvUlm2y0tOpCCowWE9cOvv1U/edit?usp=sharing
ここに各段階・担当で必要なものをひとまずリストアップしますか。

[2015-02-18 04:22] nobolis commented on #5
さっそくありがとうございます(^ ^)

[2015-02-18 04:30] saorio commented on #5
名札はスタッフと参加者の両方必要ないんじゃないかなと私も思いました。
それ以外は問題ないと思います。
また思いついたら記載します。

2015年2月18日水曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-02-20 03:36] uni-q commented on #24
@nobolis
受付担当からの質問です〜 #58

受付用に
長机1個（長机1個ぶんの広さがあれば、どんな机でも大丈夫）と椅子1〜2つ、それらがおけるスペースが欲しいです。
↓こんな感じ
![b9ebdgxceaaqxnr](https://cloud.githubusercontent.com/assets/1001133/6281028/28658f16-b8fb-11e4-98ee-fcdc5079491e.png)
- 長机1つ椅子2つを借りたいです
- 受付を設置するスペースを、教室入り口近くの教室内か外に置きたい
  - スペースはありますか？間取り図があったら見せて欲しいです。
  - 「廊下には置かないで欲しい、机は動かさないで欲しい」といった建物についての注意事項を教えて欲しいです。

以上です、よろしくお願いいたします

[2015-02-20 03:57] nobolis commented on #24
@uni-q 了解しましたー。上記確認してみます。写真おもしろい。。。

[2015-02-20 14:26] amacbee commented on #5
（大変遅くなりました・・・）ありがとうございます！
スプレッドシート記入しておきます(｀･ω･´)ゞ

[2015-02-21 02:52] amacbee commented on #10
- 担当しているタスク
  - コンテンツのサーバ側仕様決め・実装・テスト ※要クライアント側との調整
  - コンテンツ内容の詳細決定（プレゼン内容 等）※午前午後の切り替わりをどうするか要調整
  - 本番前日のWindows PCの準備について整理
  - その他
- タスク進捗〜何が終わっていて何が終わっていないのか〜
  - チャットデモの動作確認について確認 #45
  - ワークショップで利用するPCの準備について整理 #38 (ref. #46 #48 #51 )
  - デモサーバ側の仕様詰め #43 (ref. #47 #50 )
- 残タスクの列挙
  - pull requestのレビュー #44
  - 当日必要なものリストを全員に確認 #5
  - 当日スタッフの割り振りを決めたい #19
  - ワークショップ本番について議論 #42 (ref. #41 #4

[2015-02-21 03:43] #17 closed, assigned to mahya8585

[2015-02-21 03:55] mahya8585 commented on #10
（your issue でフィルタリングして記載しています）

#### #9 イベントスタッフ打ち上げ
- 進捗
  - 未着手 0%
- 残タスク
  - 人数把握
  - 日時・場所調整

#### #10 #11 #12 作業日告知
- 進捗
  - MTG開催時点で30%(1/3 MTG開催完了）
- 残タスク
  - 開催前周知広報
    - 議事録作成
    - 開催後レポート広報

#### 次回作業日までに自分自身が稼働できる時間とかんがみたタスクのやばい度

【今の所やばくない】
もっといろいろ抱えている気になっていましたが
以外とタスク持ってませんでした。
作業やばそうな方、引き取れますのでご教示ください。

#### 疑問・質問・共有
- 本日のMTGで当日の各係のざっくりとしたタイムラインを一覧化したい。

[2015-02-21 04:38] nobolis commented on #10
昨日Anita Borg担当さんよりイベントタイトル変更のご提案をもらいました。
今日はこの件についても意見交換したいです。

[2015-02-21 04:51] saorio commented on #10
担当タスク：当日の流れをまとめる
まずは叩きを作ってアップしますので、皆さん、気づいたことは教えて下さい。
よろしくお願い致します。

[2015-02-21 05:26] amacbee commented on #19
暫定的に決定
https://docs.google.com/document/d/19zHhcEtF6KBMH3qi4I05hkHV6M9bVkEbYLolxbzsXDM/edit

[2015-02-21 05:26] #19 closed, assigned to amacbee

[2015-02-21 05:30] saorio opened #65 "当日の流れを作成"
・当日の流れを作成、googleドキュメントにアップ。
・レビュー

[2015-02-21 05:31] nobolis opened #66 "イベントタイトル変更の提案に対する対応"
Anita Borgからの担当さんより以下のご連絡頂きました。
対応についてご相談したいです。
「今回の貴団体のイベントタイトルですが、Pythonというキーワードは後ろに回して
はいかがでしょうか。
というのも、今回は対象がやや幅広く、Pythonをそもそも知らない方が多いかと思いますので、
チャットを全面に押し出した方がお客さんがひっかかるかと思った次第です。
例えば、、
「楽しいチャットを作ってみよう！〜Pythonを使ったプログラミング〜」
などいかがでしょう。宜しければ、ご検討下さいませ。」

[2015-02-21 05:32] amacbee commented on #53
- Pythonについての説明
- PyLadies Tokyoについての説明
- WebSocketという名前を使わずに，簡単なコンテンツの説明
  - appの全体的な動作の流れについても説明

[2015-02-21 05:32] nobolis commented on #25
#66 イベントタイトル変更提案への対応

[2015-02-21 05:38] amacbee commented on #66
タイトル変更
「チャットを作ってみよう！〜Pythonでたのしくプログラミング〜」（イベントページの書き換え > ref. #55 ）

[2015-02-21 05:42] amacbee commented on #14
- イベントでTシャツを着たい方を募る
  - 純粋に欲しい人も募る --> Slack？
  - 今回の分は個人費で
- 業者・枚数・予算について --> @maaya8585 さんと相談する

[2015-02-21 05:46] uni-q commented on #14
- スタッフ数いまのところ8人。10枚発注する。
- 割高になるようだったら、もうちょっと多めに作って、余ったものを売るとか。
- 20とか見積もれるかもしれない。
- 見積もっておおよその価格が分かったら、Slackで欲しい人つのってみる。Tシャツだけ欲しいという人もいるかもしれないので。
- 台湾のAPECでも使いたい

[2015-02-21 05:49] amacbee commented on #14
会社でオリジナルパーカーを作成するときに利用したところ
http://tmix.jp/design/preview?parent_item_id=154390

[2015-02-21 05:51] uni-q commented on #14
pycon jp で使ってる業社（大量発注する系）
http://www.firstball.net/simulation/item.php?cate=1

やすそうなところ
http://www.esgraphic.co.jp/item/detail/261

[2015-02-21 05:51] saorio opened #67 "環境周りの質問"
・PCにインストールしたpython,モジュールは消したりアンインストールが必要でしょうか？
・教室では飲食できないでしょうか？
・イベント用に準備用のお部屋は貸して頂けますか？そこでの飲食は良いでしょうか。
  #食堂とかあいているんでしょうか？外で調達する感じでしょうか。

[2015-02-21 05:52] nobolis commented on #54
現状の予定はこんな感じとのことです：
- 8時半から会場が利用可能
- 9時にイベント全体で集合（ミーティング）

[2015-02-21 05:54] amacbee commented on #67
こちら再インストール等は必要ないはずです．ただローカルに学生が作成したプロジェクトをどこかに置いておく or 消す作業が必要なはずです

[2015-02-21 05:55] amacbee commented on #24
ref. #67

[2015-02-21 05:59] nobolis commented on #67
質問ありがとうございます！
確認連絡しておきますー
#24

[2015-02-21 05:59] uni-q commented on #14
見積もりメモ
http://tmix.jp/item/ladys/tshirt_wcn
- 20枚〜29枚：2612.4円
- 10枚：2800円

[2015-02-21 06:04] nobolis commented on #55
開催場所情報は以下の通りです。更新よろしくおねがいいたします！

　〒113-8656　東京都文京区本郷7-3-1
　東京大学　工学部2号館　1F　211号室

[2015-02-21 06:22] nobolis commented on #24
@uni-q
#58
部屋の広さはまだわからないですが、場所は
工学部2号館　1F　211号室
http://www2.mech.t.u-tokyo.ac.jp/access/campusmap/access01.html
平面教室、机・椅子固定だそうです。

[2015-02-21 06:28] saorio commented on #65
作りました！googleドキュメントに置いてます。→fes_sckedule.xlsx

[2015-02-21 06:49] amacbee commented on #55
Done!
- 開催場所情報の変更
- イベントタイトルの変更

[2015-02-21 06:53] amacbee opened #68 "Python本体とPyCharmをUSBに入れる"
事前準備に必要なため．5本くらいあれば良いかな？
ref. #46

[2015-02-21 06:57] #48 closed, assigned to amacbee

[2015-02-21 07:00] amacbee commented on #46
ref. #56

[2015-02-21 07:00] #46 closed, assigned to amacbee

[2015-02-21 07:01] amacbee opened #69 "PyCharmのセットアップ手順を確認する"
作業日に行う予定 (ref. #11 )

[2015-02-21 07:03] #38 closed, assigned to amacbee

[2015-02-21 07:08] saorio commented on #67
・windowsのアカウントでインストール権限があるものを頂けるかどうか。
それぞれのPCによって環境違うのかな？それだと変な動きするPCとかあったらやだな。。
・私たちのような主催側と、イベント参加者とは違うアカウントとか来れるんでしょうか。

[2015-02-21 07:10] #59 closed, assigned to amacbee

[2015-02-21 07:13] amacbee opened #70 "当日にWindows機をすぐ使える状態にする"
- Windows機を起動
- PyCharmを起動

[2015-02-21 07:17] amacbee opened #71 "当日利用する誘導用ポスターを作成"
東大側にポスターを貼ってもよいか確認する必要がある

[2015-02-21 07:19] amacbee commented on #24
東大側にポスターを貼ってもよいか確認して下さい (ref. #71 )

[2015-02-21 07:19] saorio commented on #71
文字だけでもいいのですが、t-shirtsと同じロゴとかあれば一緒に印刷したいです。どこかにありますでしょうか。

[2015-02-21 07:19] amacbee commented on #71
恐らくまだデザインは完成していないので，issueリンクしておきます

[2015-02-21 07:20] amacbee opened #72 "Tシャツ用のデザインを全体に共有"
ポスターでも利用する予定 (ref. #71 )

[2015-02-21 07:22] uni-q commented on #72
こんな雰囲気で作ろうかなーというポートフォリオっぽいのを作りました。
https://jp.pinterest.com/uni_ishizaki/pyladies-tokyo/

デザイン考えて〜デザイン共有して〜決定するまで、このチケットでやる感じかな。

[2015-02-21 07:32] amacbee commented on #51
作業日には全員で東大に行くことにしたため，行けるメンバーでセットアップを行うことにする

[2015-02-21 07:32] #51 closed, assigned to amacbee

[2015-02-21 08:09] amacbee commented on #42
全体で1時間
- 説明：10分（Python，PyLadies Tokyo，コンテンツ）（ref. #53 ）
- 作成：40分（4順番にコピペして動かしてみたり）（ref. #42 ）
- 予備：10分

[2015-02-21 08:09] #42 closed, assigned to amacbee

[2015-02-21 08:28] amacbee commented on #41
こんな感じ！
1. ログイン出来るようになろう（名前設定）
2. チャットページに遷移しよう
3. チャット機能を作ろう
4. サーバにつなげよう

[2015-02-21 08:30] amacbee opened #73 "学生が利用するコピペドキュメントの作成"
学生が利用するドキュメントを作成する．
コピペだけで動くように！

[2015-02-21 08:31] amacbee commented on #41
ref. #73

[2015-02-21 08:31] #41 closed, assigned to amacbee

[2015-02-21 08:36] saorio commented on #67
大丈夫だと思うけど、PCにはどんなブラウザが入っているか、IEは１０以上であることを確認する。

[2015-02-21 08:38] amacbee commented on #49
- 削除作業
  - 前の人が利用したリポジトリ
  - PyCharmのプロジェクト
- 初期状態のリポジトリをコピー
- 新しくPyCharmのプロジェクト作成
- WebSocketデモの動作確認
- 起動した状態で待機

[2015-02-21 08:38] #49 closed, assigned to amacbee

[2015-02-21 08:40] amacbee commented on #50
IPython Notebookではないので，今回はやらない

[2015-02-21 08:40] #50 closed, assigned to amacbee

[2015-02-21 08:41] mahya8585 commented on #49
[code]
- 前日の作業でプロジェクトを2つ用意し、PCに配置しておく
  - 午前用プロジェクト
  - 午後用プロジェクト
- 午前ワークショップ終了後、PyCharmで開くプロジェクトの差し替えを行う

[2015-02-21 08:42] amacbee commented on #45
一度動かしているので当日で良さそう

[2015-02-21 08:42] #45 closed, assigned to amacbee

[2015-02-21 08:45] mahya8585 commented on #56
#46 クローズに伴いクローズします。

[2015-02-21 08:45] #56 closed, assigned to mahya8585

[2015-02-21 08:46] amacbee commented on #10
ありがとうございました！

[2015-02-21 08:46] #10 closed, assigned to mahya8585

[2015-02-21 08:48] nobolis commented on #24
#58
#67
#71
東大に質問投げました！

[2015-02-21 08:49] nobolis commented on #67
上記の質問すべて投げました－。#24

[2015-02-21 08:50] nobolis commented on #66
タイトル変更投げましたので閉じます！

[2015-02-21 08:50] #66 closed, assigned to nobolis

[2015-02-21 08:52] #37 closed, assigned to nobolis

[2015-02-21 08:54] saorio commented on #5
ペンとか紙とか必要でしたら多めに持っていきます。

[2015-02-21 09:00] saorio commented on #65
ref. #54

[2015-02-21 09:00] #65 closed, assigned to saorio

[2015-02-21 09:00] nobolis commented on #60
ワークシートに記入したのでクローズします

[2015-02-21 09:00] #60 closed, assigned to nobolis

[2015-02-21 12:42] nobolis commented on #5
@saorio ありがとうございます(^ ^)ノ念のためペンとか紙は用意しておいたほうがいいかもしれませんね。

[2015-02-21 14:06] nobolis opened #74 "当日の「全体集合」に関する詳細確認"
イベント当日の「全体集合」は代表者のみでよいか、全員参加する必要があるかを東大/AnitaBorgに確認。
確認し次第、当日の流れ #54 に反映してもらう。
ref. #24

[2015-02-21 14:08] nobolis commented on #54
全体集合の詳細がわかり次第報告しますね。
ref. #24 #74

[2015-02-21 14:11] nobolis commented on #24
#74 当日の「全体集合」は代表者のみ出席か、全員出席か。

[2015-02-21 14:37] nobolis opened #75 "タイムキーピング用の大きい時計の用意"
@channel 当日のタイムキーピング用に大きめの時計を持ってこられるかたはいらっしゃいますかー？
ref. #5

[2015-02-22 00:55] saorio commented on #75
大きめの時計、あるにこしたことはないけど、スマホのストップウォッチ機能でも良い気がしました。
時間管理って、ふだんのpyladiesはどのようにやられているんでしょう？

2015年2月21日土曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-02-23 04:17] nobolis commented on #75
たとえば、時計を持っている人が腕時計等を確認して時間を合図するとかでもいいかもしれませんね。
私が発表した時のPyLadiesでは時間管理は全くされてなかったですね（自分が何分しゃべったのかも覚えていないです^^;）。

[2015-02-23 04:26] nobolis opened #76 "筆記用具の用意について相談"
- 当日使用する筆記用具（※）を購入するかあるいは持ち寄りにするか？
- 誰が担当するか？
  を相談したい。

※紙、サインペン、ボールペン、セロテープ（養生用テープ）等
ref. #5

[2015-02-23 04:35] nobolis opened #77 "名札をつけるかどうかについて相談"
当日必要なものリストで「名札」がグレー字になっていましたが、名札をつけるかどうかについて相談ってしましたっけ？
もしこの件について結論が出ているようでしたらご教示くださーい！
結論が出ていないようでしたら、ぜひ話し合いを。

[2015-02-23 13:08] amacbee commented on #75
PyLadies Tokyo Meetupは私の方で大雑把に時間管理をしてました．
どちらかというと毎回時間があまってたので，質疑応答や自分の発表で時間調整してた感じです．

今回のイベントは時間が足りなくなる方が濃厚なので，結構しっかり時間管理したいですね。。。(ΦωΦ)
でも，時間管理としては以下の感じで問題無いです．

[2015-02-23 13:10] amacbee commented on #76
この辺りは個人の持ち寄りでどうにかしたいですね。。。(ΦωΦ)
いくつ持ってくる的な話はもう少し詰めたいですが，前日に私が持ってきます．

[2015-02-23 13:14] amacbee commented on #77
名札は参加者＆サポーターお互いつけたいですね〜
なければ買いたい感じ．どうでしょう？

[2015-02-23 13:16] amacbee commented on #74
（AnitaBorg的な話がどちらに転んだとしても）PyLadies Tokyoスタッフとして全員参加にしたいです．

[2015-02-23 13:23] nobolis commented on #74
それでは全員参加の方向で。

[2015-02-23 13:27] amacbee commented on #74
よろしくお願いします！

[2015-02-23 13:30] nobolis commented on #75
ご指摘の通り、今回はきっちり時間管理をする必要があると思います。

講師補佐の中からタイムキーパーを一人決めて、その方にやり方も含めて時間管理を一任するというのがよいかなと思いますが、いかがでしょうか。

PyLadies発表、そういえば練習不足で発表時間がやたら短かった>自分。

[2015-02-23 13:35] nobolis commented on #54
@saorio  東大とのミーティング時間は「全員参加」にして頂けますか？よろしくお願いします。
ref. #74

[2015-02-23 13:38] amacbee commented on #75
これでいきましょう！

PyLadiesの発表，よしなに大体の試算で回してて割とうまく測れてるのでNo Problemです笑←

[2015-02-23 13:40] nobolis commented on #76
持ち寄り了解です。みんな手元にそれなりにあると思いますしねー。私も用意可能です。

数は、ペン類各5本、テープ類2-3巻、紙10枚程度でしょうか。

とりあえずworksheetに適当に数を入れておきますので、もっと必要だよ！とか多すぎ！とか思ったら適当に修正よろしくお願いいたします。

[2015-02-23 13:44] nobolis commented on #77
名札があると声をかけやすいし私もつけた方がよいと思います～

どんな名札にするか、話し合いたいですね。
安く上げるならシールとかに名前を書き込んで見えるところにぺたっとはってもらうのもありかなと私は思うんですが、いかがでしょうか。

[2015-02-23 13:58] nobolis opened #78 "当日のタイムキーパー係を決める"
ワークショップ当日の時間管理係を決める
ref. 75

[2015-02-23 14:00] nobolis commented on #75
担当決めのissue #78 を立てた のでこちらはクローズします!

[2015-02-23 14:00] #75 closed, assigned to nobolis

[2015-02-25 10:32] mahya8585 commented on #78
http://stopwatchtimer.yokochou.com/
こういうのをタブレットとかに表示するのどうでしょう
必要であればもってきますよ〜（古いタブレット・・・

[2015-02-25 10:37] nobolis commented on #78
いいですね！タブレットを持ち上げる動作も合図になりますし。

[2015-02-25 11:23] saorio commented on #78
当日のタイムキーパーですが、
スケジュールのエクセルで、勝手にcinnamonさんに振っていましたが、やれるのかな。。

2015年2月25日水曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-02-25 11:47] nobolis commented on #78
そうでしたか、気が付いてなくてすみません💦
じゃあとりあえずこのissueは閉じてよさそうですね？

[2015-02-25 12:09] saorio commented on #78
ちょっとslackで、cinnamonさんにタイムキーパーokか聞いてみます。
少しお時間下さい。

2015年2月25日水曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-02-25 12:16] nobolis commented on #78
りょうかいしましたー(^^ゞ

[2015-02-25 12:59] saorio commented on #78
cinammonさんに確認して了承頂いたのでcloseします。

[2015-02-25 12:59] #78 closed, assigned to nobody

[2015-02-25 13:07] nobolis commented on #78
了解です、ありがとうございましたー

[2015-02-27 03:32] nobolis commented on #56
セットアップ手順は#46のもので完成という理解でいいですか？
自分のPCにPyCharmインストールしたいので、手順が決まっているならそれに従ってやってみようかなと。

[2015-02-27 03:35] amacbee commented on #56
hai! ただ大雑把な説明なので分からなかったら聞いて下さいmm

[2015-02-27 03:46] nobolis commented on #56
了解です。わからなかったら質問させていただきますノ

[2015-02-27 03:53] sayadroid commented on #53
【共有】

2015-02-27 12:00-
@amacbee と 私で認識すり合わせしました。

直前に完成形のキャプチャスライドなどを入れ込もうと思いますが、
土台となるスライドは３月中旬頃までには上げるようにします mm

[2015-02-27 03:55] amacbee commented on #53
よろしくお願いします！

[2015-02-28 05:18] nobolis commented on #46
PyCharmでTornadoのパッケージを検索するといろいろと出てくるのですが、どれをインストールしたらよいのでしょう?

[2015-02-28 05:41] nobolis commented on #46
とりあえずただの"tornado"をインストールしてみました

[2015-02-28 07:43] nobolis commented on #46
Girls Tech Fes用Windows PCセットアップ手順を試してみた（はじめてのPyCharm !）ので、そのときの作業の覚え書きをDocとしてアップロードしておきましたノ
間違っているところなどありましたらご指摘お願いします！

[2015-02-28 08:12] amacbee commented on #46
ありがとうございます！後ほど確認します〜

[2015-03-02 04:24] saorio commented on #46
@nobolis Docってgoogle documentに無かったのですが、どちらでしょう、、？ちょっと会社のPCがWinなので試したいです。

[2015-03-02 04:30] nobolis commented on #46
@saorio Girls Tech Fesドライブに「Girls Tech Fes用Windows PCセットアップ手順を試してみた」っていうDocを入れたんですが、シェアされてないかんじですか？私の共有設定が間違っているかんじですかね？

[2015-03-02 04:32] saorio commented on #46
発見できました！
ありがとうございました^ ^
やってみます。

2015年3月2日月曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-03-02 04:34] nobolis commented on #46
よかったです(^^)
気づいたことがあったら適宜加筆・修正よろしくお願いいたしますm(_ _)m

[2015-03-05 03:58] nobolis commented on #24
@uni-q #58
受付用のテーブルですが、可動式のものがないそうです。
教室の後ろの方を受付につかってください、椅子は動きます、とのことです。
教室の様子については地図と写真をドライブにアップしておきましたのでご参照くださいませ。
（構内地図と写真フォルダを作ってその中に入れてあります）

[2015-03-05 04:04] nobolis commented on #71
全体の案内図や、誘導は先方が用意するそうです。
個別の企画の面白そうなチラシがあればその方が良いかもとのこと。

と書きながら「ポスターを貼ってよいのか」についての回答をもらっていないことに気がつく（汗）

とりあえずチラシ的なものはあった方が良さそうです。
貼ってよいのかについてはもういちど確認してみますm(_ _)m

[2015-03-05 04:11] nobolis commented on #67
教室利用関連についての回答をいただきました：
1）教室内の飲食は基本的にNGです（ペットボトル一人1本程度の持ち込みはOK）
2) 飲食は休憩室（スタッフ控室、ワークショップ会場の上の階の部屋）でお願いします。
3) 多量のゴミの廃棄は禁止とのことです。
以上、スケジュールワークシートに記載しておきました－。

[2015-03-05 04:13] saorio commented on #71
わかりました。
ご確認お願いします！
3月入りましたけど、人数伸びないですね。。

2015年3月5日木曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-03-05 04:14] saorio commented on #67
了解です！
ありがとうございます。

2015年3月5日木曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-03-05 04:20] nobolis opened #79 "OAタップの用意について相談"
先方では10台分程度しか確保できないとのことなので、こちらで用意する必要がありそうです。
用意できる方はいますかー？

[2015-03-05 04:21] amacbee commented on #79
む・・・各自持ち寄りで対応したい感じです(ΦωΦ)

[2015-03-05 04:23] nobolis commented on #71
@saorio 私は9人になってる～♪とよろこんでいました(^^;) 宣伝活動まだあまりしていないので、がんばります！

[2015-03-05 04:24] nobolis commented on #79
ですよね＞もちより

[2015-03-05 04:59] saorio commented on #71
あ、そんなになっていましたか！
増えましたね。

2015年3月5日木曜日、Katayanagi, Nobukonotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-03-11 23:46] nobolis opened #80 "東大TVの撮影を許可するか相談"
当日はイベントに東大TV（※）の撮影が入るそうです。

PyLadiesの企画にこの撮影が入っていいか、確認の連絡がきました。
団体として撮影OKの場合は同意書の作成が必要だそうです。

撮影OKか否か、ご相談したいです。
撮影OKの場合は同意書作成をお願いします > @amacbee
（とりあえず、同意書issueは立てないでおきます）

（※）東大TVについての詳しい説明はドライブの「東大TV公開までのながれ.pdf」をご参照ください。
以下、一部抜粋：
「東大 TV は、東京大学で開催された公開講座や記念講演などを無料で配信しているオンラインプラットフォームです。学内外のあらゆる人々と東京大学の知的活動を地理的・時間的制約を超えて結び、視聴者の学びを深める一助となることを目指しています。」

[2015-03-11 23:48] nobolis opened #81 "名札作成に関する相談"
#77　で名札つけたいという話の流れになったので、どのような名札をつけるか相談

[2015-03-11 23:49] nobolis commented on #77
#81 を立てたので、こちらはクローズしますね。

[2015-03-11 23:49] #77 closed, assigned to nobolis

[2015-03-12 00:39] amacbee commented on #81
そこまでお金もかからない（と思われる）ので，今後も汎用的に使えそうな名札入れを買ってしまって良いかと思います

[2015-03-12 00:40] amacbee commented on #80
お昼に改めて確認します

[2015-03-12 02:08] saorio commented on #81
シール可愛いくていいかも！

2015年3月12日木曜日、Ai MAKABInotifications@github.comさんは書きました:

##

太田 沙織
mail:saori.oota3@gmail.com
tel:080-1296-0494

[2015-03-16 04:21] mahya8585 commented on #68
1本用意完了。動作確認のち複製を作成。。。

[2015-03-16 04:21] #44 closed, assigned to mahya8585

[2015-03-16 05:44] nobolis commented on #71
先方より回答頂きました：
- 全体案内用のポスターと受付で配布する地図は（主催者側が）用意
- ポスター的なものを掲示版以外の箇所に貼るのは不可、当日用意する案内ボードの利用は可
  とのことです。

[2015-03-16 05:49] nobolis commented on #67
PC利用関連についての回答をいただきました：
1. 管理者権限のあるアカウントでのログインは可能
2. PCの履歴は不明だが、（レンタル品であるため）レンタルにあたり、工場出荷状態に戻している
3. ウェブブラウザはアップデートされているが　バージョンは現段階では不明
4. インストールしたものは基本的にはアンインストールの必要はないが、翌日高校生の講座で使うので
　そこで問題にならない形にして戻して欲しい

高校生の講座では「高校生が修学旅行等で行った道筋をTrackerでデータ蓄積しており、それをエクセルも活用して、加工してみる企画」のようです。

[2015-03-18 02:33] uni-q commented on #72
デザイン共有した。どのデザインにするかも決まった。あとで詳細を書く。

[2015-03-18 04:44] mahya8585 commented on #14
20枚発注することに決定（余った分は手売り・・・します！）

【確定枚数】
S ：1
M：4
L：2

【検討中】
S：1
M：0
L：1

というわけで・・・・

【購入枚数】
S：4
M：10
L：6

でおねがいします！

[2015-03-18 05:04] saorio commented on #14
まあやさん

自分がどっちのサイズで申し込んだか忘れてしまった…Sサイズ希望です。

2015年3月18日水曜日、maaya ishidanotifications@github.comさんは書きました:

[2015-03-18 05:05] mahya8585 commented on #14
@saorio 大丈夫ですよ！Sで登録いただいてます！

[2015-03-18 05:11] saorio commented on #14
そうでしたか。失礼致しました。
ありがとうございます。

2015年3月18日水曜日、maaya ishidanotifications@github.comさんは書きました:

[2015-03-21 03:39] mahya8585 commented on #68
- PyCharm4.0.4インストーラ
- Python2.7.9インストーラ
- masterブランチソース（AM/PMの2セット）

3本USB作成済み。
本日事足りているか作業確認

[2015-03-21 03:57] saorio commented on #72
pyladies tokyoのロゴと女の子のイメージをお手数なんですが、どこかにアップ頂けますか？掲示ポスター用に使わせて頂きます。

[2015-03-21 05:19] amacbee commented on #5
洗い出しは大体終了

[2015-03-21 05:19] #5 closed, assigned to nobolis

[2015-03-21 05:29] amacbee commented on #81
当日の受付担当と確認する ref. #58
用意するなら受付に置く必要がある

[2015-03-21 05:33] amacbee commented on #61
アンケートは当日に行う方が良さそう (紙でもWebでもどちらでも)

[2015-03-21 05:36] amacbee commented on #55
必要な情報は追記済み

[2015-03-21 05:36] #55 closed, assigned to MamiSATO

[2015-03-21 05:39] amacbee commented on #67
参加者への注意事項 (e.g. 飲食NG) を事前スライドに載せる ref. #53

[2015-03-21 05:44] amacbee opened #82 "当日チューターをするメンバーで手順確認"
現時点だと以下のメンバーで作業手順を確認する必要がある
(少なくとも2日前までとかには一応確認しておきたい)
- @amacbee
- @sayadroid
- @sinamon129
- @MamiSATO
- @saorio
- @nobolis

[2015-03-21 05:45] amacbee commented on #68
PCが工場出荷状態らしいので，Chromeも追加で入れたい

[2015-03-21 05:48] amacbee commented on #71
案内ボードのみであれば，ポスターはいらないかなと思うのですがどうですか？ > @saorio

[2015-03-21 05:50] amacbee commented on #74
問題なさそうであれば閉じて下さい〜 > @nobolis

[2015-03-21 05:50] amacbee commented on #76
本日確認します

[2015-03-21 05:52] amacbee commented on #79
本日確認します

[2015-03-21 05:53] amacbee commented on #80
大変申し訳無いです，本日対応します

[2015-03-21 05:56] amacbee commented on #81
服を傷めたくないという方が想定されるので，首からさげるタイプのやつを用意したいなと思います．その辺は値段と相談ですが， @maaya8585 にお願いしたいですmm

[2015-03-21 05:57] amacbee commented on #11
# 本日の作業
- [x] 終了後のアンケート作成 / @maaya8585
- [x] chat demoのローカルデバッグ / @amacbee
- サーバ環境の作成
  - [x] サーバにSSH出来るところまで作る / @maaya8585
  - [x] chat demo for server の作成 / @amacbee
- [x] PyLadies Tokyoのプレゼン資料を @sayadroid に送る / @amacbee
- [ ] 当日の手順書の作成 / @amacbee
- [x] USBに必要環境の準備 / @uni-q
- [x] T-shirtに利用したロゴ等を @saorio に送る / @uni-q
- [x] 筆記用具の用意について確認 / @uni-q
- [x] OAタップの用意に関する確認 / @maaya8585
- [x] 東大TVに関する同

[2015-03-21 05:58] saorio commented on #71
そうですね、建物の様子がわからないので、なんとも言えないのですが、無くても良いですかね。
印刷できる環境があれば前日、当日でも間に合いますね。
あとはTシャツが目印になるかもしれないですし。

[2015-03-21 06:50] mahya8585 commented on #61
**全て任意項目とします**
- ワークショップ満足度(5段階ラジオボタン）
- 体感難易度(5段階ラジオボタン)
- 感想フリー(テキストボックス）
- Pythonに興味でましたか(3段階ラジオボタン）
- これからPython勉強してみたい（すでにやってる人はもっと深く勉強したい）と思いましたか(3段階ラジオボタン）
- connpass申し込み時のアカウント名（テキストボックス）

他に聞いとくことありますかね・・・

[2015-03-21 06:52] amacbee commented on #80
公開までの流れを確認しました！
撮影OKです．同意書これから作成します．

[2015-03-21 06:52] #80 closed, assigned to amacbee

[2015-03-21 06:56] amacbee opened #83 "東大TVに堤出する同意書の作成"
東大TVの撮影に必要な情報 (see also #80 ) をまとめる．
終わり次第 @nobolis に東大側とコンタクトをとって頂く．
ref. #24

[2015-03-21 07:00] amacbee commented on #61
ワークショップ満足度や感想の部分とまとめられる気がするので問題ないかな〜と思います

PyLadies Tokyoへの要望・質問の項目とあるといいかなと思います．
あと最後にPyLadies Tokyo Meetup 4への案内リンクも欲しいです．

[2015-03-21 07:01] uni-q opened #84 "T"

[2015-03-21 07:02] uni-q opened #85 "Tシャツで使ったデザインデータをsaorioさんに渡す"

[2015-03-21 07:03] amacbee commented on #25
@nobolis 直筆署名の項目等があるので，東大への同意書等は当日渡す感じでも良いかを確認していただきたいですmm

[2015-03-21 07:04] uni-q commented on #72
@saorio 別issue立てました。少々お待ちくださいね＞＜ refs #85

このissueは終了したので閉じます。

[2015-03-21 07:04] #72 closed, assigned to uni-q

[2015-03-21 07:09] mahya8585 commented on #68
chrome入れました。
masterソースも一応入っていますが、この後ソースの最新化があると思いますので、
27日の夜に再度入れ直し（最新化）します。

[2015-03-21 07:11] uni-q commented on #84
間違えました！ 本物はこっち #85

[2015-03-21 07:11] #84 closed, assigned to nobody

[2015-03-21 07:29] mahya8585 commented on #81
30個PyLadies Tokyo運営で購入します。
当日までに用意します。今回はとりあえず
- 入れ物だけ用意
- PyLadiesのロゴだけ入れたコピー紙なんかを用意します。
- 当日自分で名前描いてもらおう。
- スタッフ分は印刷して用意しておきます。

[2015-03-21 07:44] uni-q commented on #76
受付で以下のものを、私物から持っていきます。
- ボールペン：2本
- 油性マジック（黒2本、赤1本、青1本、緑1本）
- 養生用テープ：1つ
- ガムテープ：1つ
- 透明セロテープ：1つ
- ハサミ：1つ
- カッター：1つ
- ホチキス（予備の針あり）：2つ
- 紙（上質紙・A4サイズ）：20枚
- ゴミ袋：1枚（ねんのため）

[2015-03-21 08:01] uni-q commented on #76
@amacbee 上記の道具で大丈夫そうだと思うんですが、どうでしょう（ぜんぶ同人誌を売るイベントで使ってる道具セットです）
下記のシートにも記入しました。
https://docs.google.com/spreadsheets/d/1dtugWVZ5pBS_u20kF0qDvUlm2y0tOpCCowWE9cOvv1U/edit#gid=0

[2015-03-21 08:09] uni-q commented on #76
大丈夫そうなので閉じますね。

[2015-03-21 08:09] #76 closed, assigned to amacbee

[2015-03-21 08:18] mahya8585 commented on #81
http://www.amazon.co.jp/%E3%82%BD%E3%83%8B%E3%83%83%E3%82%AF-%E3%82%AB%E3%83%A9%E3%83%BC%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E5%90%8A%E4%B8%8B%E3%81%92%E5%90%8D%E6%9C%AD-%E5%90%8D%E5%88%BA%E3%82%B5%E3%82%A4%E3%82%BA-50%E6%9E%9A%E5%85%A5-VN-849-W/dp/B004ORZ3CA/ref=pd_cp_office_1

購入だん。

【残タスク】
中に入れる紙を用意する。

[2015-03-21 08:32] amacbee opened #87 "自己紹介スライドを作成する"
当日のスライドに載せる自己紹介スライドを作成する (ref. #53 )

[2015-03-21 08:43] amacbee commented on #71
そうですね！前日の様子を見て貼る場所 等を確認させて下さいmm

[2015-03-21 08:53] nobolis commented on #25
@amacbee 「同意していただけるのであれば、当日お持ち下さい」との連絡をもらっているので、当日渡しでOKです

[2015-03-21 08:54] amacbee commented on #25
了解です！

[2015-03-21 08:57] uni-q commented on #85
Slackにて連絡done。
google driveのデザインフォルダに画像データを入れた。

[2015-03-21 08:57] #85 closed, assigned to uni-q

[2015-03-21 08:59] nobolis commented on #74
先方からその後詳細連絡ないですが、とりあえずこのissueを閉じておきます。

[2015-03-21 08:59] #74 closed, assigned to nobolis

[2015-03-21 09:42] mahya8585 commented on #61
OK作成します

[2015-03-21 10:29] mahya8585 commented on #61
http://goo.gl/forms/7ZYmTo4mjO

添削お願いします。

[2015-03-21 10:46] mahya8585 commented on #68
アンケートフォームURLも入れておきました。
当日のショートカット作成しましょう

[2015-03-21 10:53] amacbee commented on #11
手順書作成は本日中に終わる感じがしないので引き続き進めますヽ(；´Д｀)ノ

[2015-03-21 10:54] mahya8585 commented on #12
http://www.u-tokyo.ac.jp/campusmap/map01_02_j.html

東大工学部
2号館2115室
は正門から入るのが近いらしいです。
最寄駅は東大前・本郷三丁目かな〜

[2015-03-21 10:55] uni-q commented on #61
ちょっと手をいれました。
LGTM

[2015-03-21 11:00] amacbee commented on #61
![LGTM](http://www.lgtm.in/p/ke8OCitbq)

[2015-03-21 11:23] mahya8585 commented on #9
http://www.hotpepper.jp/strJ000689759/

17:30から予約しました

[2015-03-21 11:27] #61 closed, assigned to mahya8585

[2015-03-21 11:28] amacbee commented on #9
:star:

[2015-03-21 11:28] mahya8585 commented on #79
@nobolis 3つ穴タップ１つ
@uni-q  3つ穴タップ１つ
@maaya8585 3つ穴タップ１つ

足りない分はどっかで調達していきます。

[2015-03-21 11:28] #79 closed, assigned to amacbee

[2015-03-21 11:31] amacbee commented on #43
サーバ環境を構築して動作確認まで完了

[2015-03-21 11:31] #43 closed, assigned to amacbee

[2015-03-21 11:31] amacbee commented on #47
無事に動作することを確認済み

[2015-03-21 11:31] #47 closed, assigned to amacbee

[2015-03-21 11:32] mahya8585 commented on #11
手順書作成以外は完了しましたのでクローズします！お疲れさまでした。

[2015-03-21 11:32] #11 closed, assigned to amacbee

[2015-03-21 11:34] sinamon129 opened #89 "inputnameで何も入れなくてsign upすると、403:OKがでる"

[2015-03-21 12:35] #89 closed, assigned to nobody

[2015-03-22 00:32] sayadroid commented on #53
大変遅ればせながら、スライド第一稿です。
#67 にある諸注意などは、内容がわからなかったので差し込んでおりませんmm

https://drive.google.com/drive/u/1/#folders/0B9h8aVVbzBiCfnAwclNiT21iQmRMTnlSelZRSzRCRWpKWHRvb2pKQnItOXl5bzFQVFU0VlU/0Bz8Aig6dBzaKfnFrN2xjT1hOZ3ZRcE9DVGd2VUlBSjJtdUtDUnZZSDI3WE01Y3ZrU0ZLTkU

[2015-03-22 03:30] sinamon129 opened #91 "メッセージが空でも送信できる"

[2015-03-22 05:56] mahya8585 commented on #81
名札入れ届きました(超早)
PyLadies Tokyoの資産としてどっかにメモっておきます。
とりあえず@maaya8585が保管してます。当日中に入れる紙とともにもっていきまーす

[2015-03-24 00:40] uni-q commented on #14
発注した

[2015-03-24 00:40] #14 closed, assigned to uni-q

[2015-03-24 00:42] uni-q commented on #24
なるほど、長机は借りられないのですね。
椅子に座って、机なしで受付しますね。

[2015-03-24 00:44] nobolis commented on #24
@uni-q 教室の一番後ろの机じゃだめな感じでしょうか？

[2015-03-24 00:55] nobolis commented on #12
前日の作業は2115室ではなく、工学部2号館2FのCOI会議室になる可能性があります。
ref. Girls Tech Fes > 構内地図と写真 > 2号館MAP_0323.pdf

東大正門あるいは工学部2号館前で集合してお教室に移動がよいですかね。
最寄り駅は東大前・本郷三丁目に加えて根津駅も近いですよ。

[2015-03-24 03:21] uni-q commented on #24
@nobolis
- 教室に入ってくる人が通りかかるような位置に固定机があったら、それを使う
- 教室に入ってくる人が通りかかるような位置に固定机がなかったら、椅子に座って行う

![2015-03-24 12 18 36](https://cloud.githubusercontent.com/assets/1001133/6795205/273c38e0-d220-11e4-9c6d-ded32a27d7f3.jpg)

↑こんな感じかなーと思いますが、、
まあ、前日準備のときに、実際のレイアウトを見て決めようと思ってます。

とりあえず、
机なしでも机ありでも受付できるように、道具を準備しとく感じで！

[2015-03-24 03:32] uni-q commented on #52
- 受付に必要な人数：1〜2 人
- 受付の方法（紙かPCか）：PCで。（念のため紙も印刷しておく）
- 受付の場所：当日いって見てみる
- 借りたいもの（長机、椅子、ホワイトボードなど）：教室内のものしか借りられない。固定机のみ。椅子は動かして良い。
- スタッフが入場〜準備できる時間：前日準備のときに設営する
- 受付時間： https://docs.google.com/spreadsheets/d/1Qo1ekvYLxy6uWzRogHnVSjE-yZhVdJgcaBX5Fe9iDgA/edit#gid=437513407

[2015-03-24 03:42] uni-q commented on #52
当日のスケジュール
https://docs.google.com/spreadsheets/d/1Qo1ekvYLxy6uWzRogHnVSjE-yZhVdJgcaBX5Fe9iDgA/edit#gid=437513407

入場の流れ
1. connpass で使用している名前を聞く、もしくは connpass 受付票を見せてもらって受付番号を確認
2. connpassの参加管理画面 http://connpass.com/event/11662/participants/ もしくは、印刷した申込者一覧にチェックを入れる。
3. 名札を渡す。

退場の流れ
1. 名札を返してもらう

[2015-03-24 03:42] nobolis commented on #24
@uni-q もしや教室の写真って見られてないですか？私がちゃんとシェアできていないかも？
Girls Tech Fes > 構内地図と写真フォルダに会場の写真を入れてあって、それによると出入り口は発表者の真正面あたりのようなのです。

[2015-03-24 03:49] nobolis commented on #24
@uni-q 机なしだとしんどいかなと思うので、入り口と机の位置が遠すぎる～というようでしたら、なにか作業台的なものが借りられないか交渉してみますので、どうぞお申し付けを！

[2015-03-24 03:59] uni-q commented on #52
当日の受付の流れをここにまとめた
https://docs.google.com/document/d/1xfUv4Vq-yi9EFY4TBlTBOgVWGO2-ZG_hyW9Msi9c-2Q/edit?usp=sharing

[2015-03-24 03:59] #52 closed, assigned to uni-q

[2015-03-24 11:45] amacbee commented on #53
Girls Tech Fesフォルダに上記スライドを移動しました！
遅くなりましたがこれから見ますmm

[2015-03-24 12:50] amacbee commented on #53
Pythonの説明が専門用語が多い気がするので，こんな感じでどうでしょう？

[code]

[2015-03-24 12:51] amacbee commented on #53
諸注意の話は，会場に関する連絡事項の話を指していたので，私の方で自己紹介スライドと一緒にまとめちゃいますmm

[2015-03-24 13:23] nobolis commented on #53
　かわいいスライドですねー。内容もわかりやすいと思いました。
  2点ほど、コメントです：
1. 順序について
   2ページ目にいきなりPythonistaっていう専門用語？が出てくると、　　
   知らない人はぽかーんとしちゃうかなと感じました。  　　

　たとえば6～8を先に回して、
  プログラミングのこと
→様々なプログラミング語があるよ
　→今日はそのうちのPythonやるよ（Pythonの説明）
  →PyLadiesはこのPythonが好きな人＝Pythonistaの集まりだよ
  →世界中にPyLadiesがあるよ

　っていう流れの方がすんなり頭に入るような気がしました。
1. 活動内容について
   　　もう少し簡潔でもいいのかなとも。
   　　いつ立ち上がって、こういう頻度でこういう活動しています（、参加者募集中です）、とか。

[2015-03-24 13:28] nobolis commented on #53
諸注意について、参加者に伝える必要があるのは飲食の件ですよね？

基本参加者の会場内飲食は禁止（スタッフも講師以外はWorkshop中は飲食はしない）ようにした方がよいかと思うのですが、いかがでしょうか。

[2015-03-24 15:42] amacbee commented on #53
飲食の件です．

はい，私も会場内飲食はスタッフ / 参加者ともに飲食は厳禁の方向でいきたいと考えていますmm

[2015-03-24 21:43] nobolis commented on #53
@amacbee 了解です(^ ^)ノ

[2015-03-25 01:33] nobolis commented on #12
開始時刻が14:00で確定しました。

[2015-03-26 05:21] sayadroid commented on #53
@amacbee @nobolis
確認、レビューありがとうございます! :)
週末までに修正します..!!

[2015-03-26 05:37] nobolis opened #93 "前日のWindowsセットアップ手順書作成"
ref. #46

[2015-03-26 05:39] nobolis commented on #93
手順書作成しました。
ドライブに「Girls Tech Fes用Windows PCセットアップ手順」という名前で入れてありますので、お手すきの方、レビューよろしくお願いしますmm

[2015-03-26 08:41] nobolis commented on #69
ref. #93

[2015-03-27 13:26] #81 closed, assigned to mahya8585

[2015-03-27 13:26] #68 closed, assigned to mahya8585

[2015-03-27 13:28] mahya8585 commented on #12
13時に東大内スタバ前に集合です！！！

[2015-03-28 07:17] sayadroid commented on #53
皆さんに頂いた意見を反映し、ver.2を格納しましたmm
ありがとうございます…！
https://drive.google.com/drive/u/1/#folders/0B9h8aVVbzBiCfng3Z3oxSjdHWC1WejJXQk0zVTEyLW5Fa3g3eVlHeHRqZlhvNFRET3ByVHM

[2015-03-28 07:31] nobolis commented on #53
@sayadroid 修正ありがとうございます！これでよいと思います！

[2015-03-28 07:48] #93 closed, assigned to nobolis

[2015-03-28 07:49] nobolis commented on #70
ドキュメント作成しました
Girls-tech-fesWinPC当日作業
https://docs.google.com/document/d/1vZ-skcHpEP4_EMddU2KCYotO6p7dSX_zzrF_2rGcKTA/edit

[2015-03-28 07:50] #67 closed, assigned to amacbee

[2015-03-28 07:50] #69 closed, assigned to amacbee

[2015-03-28 07:50] #25 closed, assigned to nobolis

[2015-03-28 07:51] #24 closed, assigned to nobolis

[2015-03-28 12:43] nobolis opened #94 "アンケート結果の共有 w/ 東大"
ワークショップ後アンケートについて、「よろしければ差し支えのない範囲で共有して頂けないでしょうか」とリクエストをいただきました。

[2015-03-29 06:52] #53 closed, assigned to sayadroid

[2015-03-29 06:53] uni-q commented on #58
google docにまとめた

[2015-03-29 06:53] #58 closed, assigned to uni-q

[2015-03-29 06:53] amacbee commented on #87
嘘ついた

[2015-03-29 06:53] #87 closed, assigned to amacbee

[2015-03-29 06:53] #71 closed, assigned to saorio

[2015-03-29 06:53] #54 closed, assigned to saorio

[2015-03-29 06:53] mahya8585 commented on #82
午前の部・午後の部の前にMTGで共有済み

[2015-03-29 06:53] #82 closed, assigned to amacbee

[2015-03-29 06:53] #83 closed, assigned to nobolis

[2015-03-29 06:54] mahya8585 commented on #70
手順書を元に作業済み。
ドタバタ劇もありつつ終焉

[2015-03-29 06:54] #70 closed, assigned to amacbee

[2015-03-29 06:54] #12 closed, assigned to amacbee

[2015-03-29 06:54] amacbee commented on #40
お疲れ様でした！

[2015-03-29 06:54] #40 closed, assigned to sinamon129

[2015-03-29 06:54] #57 closed, assigned to mahya8585

[2015-03-29 06:57] mahya8585 commented on #94
ドライブに溜まってるアンケート結果を必要部分だけ切り出してpdf化。
ドライブに保存して @nobolis へ。

[2015-03-29 06:57] amacbee commented on #73
https://github.com/PyLadiesTokyo/girls-tech-fes/blob/master/workshop/procedure.md

[2015-03-29 06:57] #73 closed, assigned to amacbee

[2015-03-29 06:57] mahya8585 commented on #9
本日の打ち上げはキャンセルにしました。
後日再度調整さんたてます。

[2015-04-18 02:19] nobolis commented on #94
東大に送ったのでクローズします！

[2015-04-18 02:19] #94 closed, assigned to mahya8585

[2015-04-27 02:59] mahya8585 commented on #9
調整さんたてずみ。今週中（5/2）をめどにアンケート実施中

[2015-10-09 08:00] #9 closed, assigned to mahya8585